<header class="flex skin z-10  fixed w-full  justify-between container-text">
  <section class="section-left"></section>
  <section class="flex items-center gap-5">
    <a [routerLinkActiveOptions]="{exact:true}" [routerLink]='[""]'
       routerLinkActive="text-gray-800 border rounded-full px-3 py-2 ">Home</a>
    <a *ngIf="(isAuthenticated|async)" [routerLink]='["dashboard"] '
       routerLinkActive="text-gray-800  rounded-full border px-3 py-2 ">Dashboard</a>

    <a *ngIf="!(isAuthenticated|async)" [routerLink]='["login"]'
       routerLinkActive=" border px-3 py-2  rounded-full text-gray-800">Login</a>
    <a *ngIf="!(isAuthenticated|async)" [routerLink]='["signup"]'
       routerLinkActive=" border px-3 py-2  rounded-full text-gray-800">Signup</a>
    <a (click)="logout()" *ngIf="(isAuthenticated|async)" class="cursor-pointer"
       routerLinkActive="text-gray-800 rounded-full">Logout</a>


    <!--    <img *ngIf="(isAuthenticated|async)" alt="user-avatar"-->
    <!--         class="rounded-full border w-10 object-contain flex items-center justify-center border-green-600"-->
    <!--         src="http://localhost:3000/{{(currentUser|async)?.imgUrl}}"-->
    <!--    />-->

    <div *ngIf="(isAuthenticated|async)" class="relative">
      <img alt="profile image"
           class="rounded-full border h-10 w-10 object-contain flex items-center justify-center border-green-600"
           src="{{(currentUser|async)?.imgUrl}}">
      <span
        class="top-0 left-7 absolute  w-3.5 h-3.5 bg-green-500 border-2 border-white dark:border-none rounded-full"></span>
    </div>

  </section>
</header>


<!--<ng-container >-->
<!--  <header class="flex skin  justify-between container-text">-->
<!--    <section class="section-left"></section>-->
<!--    <section class="flex items-center gap-5">-->
<!--      <a [routerLinkActiveOptions]="{exact:true}" [routerLink]='[""]'-->
<!--         routerLinkActive="text-gray-800 border rounded-full px-3 py-2 ">Home</a>-->
<!--      <a [routerLink]='["dashboard"] ' routerLinkActive="text-gray-800  rounded-full border px-3 py-2 ">Dashboard</a>-->

<!--      <a  *ngIf="isAuthenticated| async  " [routerLink]='["login"]' routerLinkActive=" border px-3 py-2  rounded-full text-gray-800">Login</a>-->
<!--      <a  *ngIf="isAuthenticated| async " [routerLink]='["signup"]' routerLinkActive=" border px-3 py-2  rounded-full text-gray-800">Signup</a>-->
<!--      <a  *ngIf="isAuthenticated| async " (click)="logout()"  class="cursor-pointer"-->
<!--         routerLinkActive="text-gray-800 rounded-full">Logout</a>-->
<!--      <span  *ngIf="isAuthenticated| async"-->
<!--            class="rounded-full border w-10 object-contain px-3 flex items-center justify-center py-2 border-green-600 bg-white"> {{ "Me"}}-->
<!--       </span>-->
<!--    </section>-->
<!--  </header>-->
<!--</ng-container>-->

