<header class="flex skin z-10 dark:bg-primary bg-white  fixed w-full items-center  justify-between container-text">
  <section class="section-left"></section>
  <section class="flex text-xs lg:text-base items-center gap-5">
    <a [routerLinkActiveOptions]="{exact:true}" [routerLink]='[""]'
       routerLinkActive="text-gray-800 border border-gray-300  dark:border-none dark:text-secondary dark:glass rounded-full px-3 lg:px-4  py-2 ">Home</a>
    <a *ngIf="(isAuthenticated|async)" [routerLink]='["dashboard"] '
       routerLinkActive="text-gray-800 border-gray-300 dark:border-none dark:text-secondary dark:glass  rounded-full border px-3 py-2 ">Dashboard</a>

    <a *ngIf="!(isAuthenticated|async)" [routerLink]='["auth/login"]'
       routerLinkActive=" border px-3 py-2 border-gray-300  lg:px-4 dark:border-none dark:text-secondary dark:glass  rounded-full text-gray-800">Login</a>
    <a *ngIf="!(isAuthenticated|async)" [routerLink]='["auth/signup"]'
       routerLinkActive=" border px-3 border-gray-300  py-2 dark:border-none dark:text-secondary dark:glass rounded-full text-gray-800">Signup</a>
    <a class=" cursor-pointer" (click)="logout()" *ngIf="(isAuthenticated|async)"
       routerLinkActive="border px-3 border-gray-300  py-2 dark:border-none dark:text-secondary dark:glass rounded-full text-gray-800">Logout</a>


    <!--    <img *ngIf="(isAuthenticated|async)" alt="user-avatar"-->
    <!--         class="rounded-full border w-10 object-contain flex items-center justify-center border-green-600"-->
    <!--         src="http://localhost:3000/{{(currentUser|async)?.imgUrl}}"-->
    <!--    />-->

    <div *ngIf="(isAuthenticated|async)" class="relative">


      <ng-container *ngIf="(currentUser|async) as currentUser">
        <img *ngIf="currentUser.imgUrl" alt="profile image"
             class="rounded-full border h-6 w-6 lg:h-8 lg:w-8 object-contain flex items-center justify-center border-green-600"
             src="{{currentUser.imgUrl}}">


        <!--        <ng-template #initials>-->
        <!--       <span-->
        <!--         class="rounded-full border h-6 w-6 lg:h-8 lg:w-8 object-contain flex items-center justify-center border-green-600"-->
        <!--       >  WI </span>-->
        <!--        </ng-template>-->


      </ng-container>
      <span
        class="top-0 left-4 lg:left-5 absolute  w-2 h-2 lg:w-3 lg:h-3 bg-green-500 border-2 border-white dark:border-none rounded-full"></span>
    </div>

  </section>
</header>


<!--<ng-container >-->
<!--  <header class="flex skin  justify-between container-text">-->
<!--    <section class="section-left"></section>-->
<!--    <section class="flex items-center gap-5">-->
<!--      <a [routerLinkActiveOptions]="{exact:true}" [routerLink]='[""]'-->
<!--         routerLinkActive="text-gray-800 border rounded-full px-3 py-2 ">Home</a>-->
<!--      <a [routerLink]='["dashboard"] ' routerLinkActive="text-gray-800  rounded-full border px-3 py-2 ">Dashboard</a>-->

<!--      <a  *ngIf="isAuthenticated| async  " [routerLink]='["login"]' routerLinkActive=" border px-3 py-2  rounded-full text-gray-800">Login</a>-->
<!--      <a  *ngIf="isAuthenticated| async " [routerLink]='["signup"]' routerLinkActive=" border px-3 py-2  rounded-full text-gray-800">Signup</a>-->
<!--      <a  *ngIf="isAuthenticated| async " (click)="logout()"  class="cursor-pointer"-->
<!--         routerLinkActive="text-gray-800 rounded-full">Logout</a>-->
<!--      <span  *ngIf="isAuthenticated| async"-->
<!--            class="rounded-full border w-10 object-contain px-3 flex items-center justify-center py-2 border-green-600 bg-white"> {{ "Me"}}-->
<!--       </span>-->
<!--    </section>-->
<!--  </header>-->
<!--</ng-container>-->

