<section class="flex flex-col  min-h-screen items-center justify-center ">
  
  <ng-container *ngIf="authservice.error()">
  <app-alert class="w-5/6 md:w-4/6 lg:w-1/3" (clearError)="handleClearError()"  [msg]="authservice.error()"></app-alert>
</ng-container>

  <section
    class="bg-white dark:glass w-5/6 md:w-4/6 lg:w-1/3 py-10 px-5 flex gap-4 flex-col  items-center justify-center">

    <ng-container *ngIf="formRoute$|async as routes">
      <p *ngIf="routes === 'loginForm'" class=" text-center font-bold text-2xl">Login to your account</p>
      <p *ngIf="routes === 'resetPassword'" class=" text-center font-bold text-2xl">Reset Password</p>
      <p *ngIf="routes === 'updatePasswordForm'" class=" text-center font-bold text-2xl">Update Password</p>

    </ng-container>



    <section class="w-full">



      <form (ngSubmit)="handleLogin(LoginForm.value)" *ngIf="(formRoute$|async) ==='loginForm'" [formGroup]="LoginForm"
            action=""
            class="w-full flex flex-col justify-center gap-2 items-center ">

        <email-input
          [formControl]="email"
          [label]="'Email'"
          [type]="'email'"
          class="w-5/6"
        ></email-input>

        <password-input
          [formControl]="password"
          [label]="'Password'"
          [type]="'password'"
          class="w-5/6"
        ></password-input>


        <section class="w-5/6 mt-4">

          <app-button [btnText]="'Login'" [disabled]="LoginForm.invalid" [loading]="loading"
                      [styles]="'btn-primary'"></app-button>
        </section>
        <p class="flex  gap-3 text-sm tex-gray-800">
          Forgot Password ?
          <small (click)="updateRoute('resetPassword')" class="text-blue-600 cursor-pointer text-sm">
            Reset
          </small>
        </p>
        <p class="flex  gap-3 text-sm tex-gray-800">
          Need An Account
          <a [routerLink]="['/auth/signup']" class="text-blue-600 text-sm">
            Sign up
          </a>
        </p>

      </form>

      <ng-container *ngIf="(formRoute$|async) ==='resetPassword'">
        <app-reset-password></app-reset-password>
      </ng-container>

      <ng-container *ngIf="(formRoute$|async) ==='updatePasswordForm'">
        <app-update-password></app-update-password>
      </ng-container>


    </section>
  </section>
</section>

<ngx-loading
  [config]="{ backdropBorderRadius: '3px' }"
  [show]="loading"
></ngx-loading>
