<section>
  <label>{{label}}</label>
  <div
    class="border border-blue-100 flex justify-between items-center focus-within:border-gray-200 form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"
  >

    <ng-select
      (ngModelChange)="onSelectionChange()"
      [(ngModel)]="selectedItems"
      [bindLabel]="bindLabel"
      [bindValue]="bindValue"
      [items]="items"
      [multiple]="multiple"
      [placeholder]="placeholder"
      class="w-full custom border border-blue-100"
    >
    </ng-select>

  </div>
</section>
