<section class="w-full">
  <app-label [label]="label" [required]="hasRequiredValidator()"></app-label>
  <div
    [ngClass]="{'error-input':this.validatePassword(), 'border-blue-100 focus-within:border-gray-200 ': !this.validatePassword()}"
    class="border-blue-100 border flex justify-between items-center form-input my-1 px-2 py-2  focus-within:border-gray-200 focus-within:ring-0 rounded-lg  w-full">
    <fa-icon [icon]="faLock" class="text-gray-300"></fa-icon>
    <input [attr.type]='!isShown ? "password":"text"'
           [formControl]="formControl"
           [placeholder]="placeholder"
           class="input-style"
           name="password"
    />
    <span (click)="togglePassword()" *ngIf="!isShown">
                        <fa-icon [icon]="faEye" class="text-gray-300 cursor-pointer"></fa-icon></span>
    <span (click)="togglePassword()" *ngIf="isShown">
                        <fa-icon [icon]="faEyeSlash" class="text-gray-300 cursor-pointer"></fa-icon></span>
  </div>
  <span *ngIf="this.validatePassword()" class="text-red-800 text-xs">Password must exceed 6 digits</span>
</section>
