<section>
  <app-label [label]="label" [required]="hasRequiredValidator()"></app-label>
  <div
    [ngClass]="{'error-input':this.validateControl(), 'border-border-blue-100 focus-within:border-gray-200 ': !this.validateControl()}"
    class="border border-blue-100 flex justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"
  >
    <span><fa-icon [icon]="faUser" class="text-gray-300"></fa-icon></span>
    <input
      [formControl]="formControl"
      [placeholder]="placeholder"
      autocapitalize="words"
      class="input-style"
      name="test"
      [type]=type/>
  </div>
  <span *ngIf="this.validateControl()"
        class="text-red-800 text-xs">This Field is Required </span>
</section>


