<section class="container-text text-sm  min-h-screen">

    <section class=" w-full md:w-2/3  card   flex  flex-col   skin">
    
        <ng-container *ngIf="(usersDetails$|async) as user">
   
            
            <div class="py-3">
                <img alt="user" class="border dark:border-none rounded-full mx-0 w-32 object-cover h-32" height="820"
                     src="{{user.imgUrl}}" width="900">
              </div>
 <section class="grid  grid-cols-2  dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Name:</span> 
    
    <span class=""> {{user.name}}</span>
 </section>
 
 <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Email:</span> 
    
    <span class="">{{user.email}}</span>
 </section>


 <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">DOB:</span> 
    
    <span class=""> {{user.dateOfBirth}}</span>
 </section>
 <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Account Number:</span> 
    
    <span class="">{{user.accountNumber}}         <app-clipboard [style]="'text-success'" [textToCopy]="user.accountNumber"></app-clipboard>
    </span>
 </section>
 <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Role:</span> 
    
    <span class="capitalize"> {{user.role}}</span>
 </section>
 <!-- <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Beneficiary:</span> 
    
    <span class=""> {{user.beneficiaryAccountNumber}}

        <app-clipboard [style]="'text-success'" [textToCopy]="user.beneficiaryAccountNumber"></app-clipboard>
    </span>
 </section> -->
 <!-- <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Channel:</span> 

    <span>{{user.channel}}</span>
 
   
 </section> -->
    

 <!-- <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">
    <span class="font-semibold">Status:</span> 
    <span *ngIf="user.status ==='APPROVED'" class=" w-1/3  py-2 px-4 bg-success text-xs text-center text-white  capitalize rounded-full"> {{user.status}}</span>
    <span *ngIf="user.status ==='PENDING'" class=" w-1/3  py-2 px-4 bg-light-blue text-xs text-center text-white capitalize rounded-full"> {{user.status}}</span>
    <span *ngIf="user.status ==='DECLINED'" class=" w-1/3   py-2 px-4 bg-error text-xs text-center text-white capitalize rounded-full"> {{user.status}}</span>

 </section> -->

 <!-- <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Transaction Type:</span> 
    
    <span class=""> {{user.transactionType}}</span>
 </section> -->



 <!-- <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Date:</span> 
    
    <span class=""> {{user.createdAt | date:'short'}}</span>
 </section> -->
    

 <section class='flex gap-3 justify-end' >
    <app-button [btnText]="'Back'" [styles]="'bg-primary text-secondary dark:text-secondary dark:glass py-2 px-5 rounded-3xl'" (clickEvent)="handleBack()" ></app-button>

   </section>

    </ng-container>
    </section>

    </section>