<section class="w-full">

  <app-table-header [tableSettings]="settings">
    <ng-container [ngTemplateOutlet]="headerActions">
    </ng-container>
  </app-table-header>


  <ngx-datatable
    (page)="onPageChange($event)"
    [columnMode]="'force'"
    [columns]="updatedColumn"
    [footerHeight]="50"
    [headerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="rows"
    [scrollbarH]="false"
    [scrollbarV]="false"

    class="material"
  >


    <ngx-datatable-column *ngIf='checkable' name="S/N" prop="S/N">
      <ng-template let-column="column" ngx-datatable-header-template>
        <span>#</span>
        <input (click)="toggleRowSelection($event)" class="ml-1" id="header-check" type="checkbox"/>
      </ng-template>
      <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
        <span>{{rowIndex + 1}}.</span>
        <input (click)="handleSelection(row, $event)" class="my-rows ml-1" type="checkbox"/>

      </ng-template>
    </ngx-datatable-column>
    <ng-container *ngFor='let column of columns'>


      <ngx-datatable-column *ngIf='column.name === "Actions"' name="Actions" prop="actions">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <app-dropdown *ngIf="!singleAction">
            <ng-container header>
              <fa-icon [icon]="faEllipsis" class="text-gray-300"></fa-icon>
            </ng-container>
            <ng-container *ngTemplateOutlet="rowActions; context:{row: row.id} ">
            </ng-container>
          </app-dropdown>

          <span *ngIf="singleAction">
          <ng-container *ngTemplateOutlet="rowActions; context:{row: row.id} ">
          </ng-container>
            </span>

        </ng-template>

      </ngx-datatable-column>
      <ngx-datatable-column *ngIf='column.name !== "Actions"' name="{{column.name}}" prop="{{column.prop}}">


        <ng-template let-row="row" ngx-datatable-cell-template>

          <span *ngIf="column.custom">
          <ng-container *ngTemplateOutlet="customRows; context:{row: row[column.prop]} ">
          </ng-container>
            </span>

          <span *ngIf="column.pipe==='Date'">{{row[column.prop] | date:'short' }}</span>
          <span *ngIf="column.pipe==='Currency'">{{row[column.prop] | currency:'USD' }}</span>

          <span *ngIf="!column.pipe && !column.custom">{{row[column.prop]}}</span>
        </ng-template>
      </ngx-datatable-column>


    </ng-container>

  </ngx-datatable>

</section>
