
<section class="container-text text-sm min-h-screen">

    <section class="w-2/3  card   flex  flex-col   skin">
    
        <ng-container *ngIf="(loanDetails$|async) as loanDetail">
    
 <section class="grid  grid-cols-2  dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Name:</span> 
    
    <span class=""> {{loanDetail.name}}</span>
 </section>
 
 <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Account Number:</span> 
    
    <span class="">{{loanDetail.accountNumber}}</span>
 </section>
 <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Amount:</span> 
    
    <span class=""> {{loanDetail.amount | currency: 'USD'}}</span>
 </section>
 <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Request Date:</span> 
    
    <span class=""> {{loanDetail.requestDate | date:'short'}}</span>
 </section>
 <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Payment Status:</span> 

    <span *ngIf="loanDetail.paymentStatus ==='PENDING'" class=" w-1/3  py-2 px-4 bg-success text-xs text-center text-white  capitalize rounded-full"> {{loanDetail.paymentStatus}}</span>
    <span *ngIf="loanDetail.paymentStatus  ==='UNPAID'" class=" w-1/3  py-2 px-4 bg-light-blue text-xs text-center text-white capitalize rounded-full"> {{loanDetail.paymentStatus}}</span>
   
 </section>
    

 <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">
    <span class="font-semibold">Status:</span> 
    <span *ngIf="loanDetail.status ==='APPROVED'" class=" w-1/3  py-2 px-4 bg-success text-xs text-center text-white  capitalize rounded-full"> {{loanDetail.status}}</span>
    <span *ngIf="loanDetail.status ==='PENDING'" class=" w-1/3  py-2 px-4 bg-light-blue text-xs text-center text-white capitalize rounded-full"> {{loanDetail.status}}</span>
    <span *ngIf="loanDetail.status ==='DECLINED'" class=" w-1/3   py-2 px-4 bg-error text-xs text-center text-white capitalize rounded-full"> {{loanDetail.status}}</span>

 </section>

 <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Rate:</span> 
    
    <span class=""> {{loanDetail.rate}}%</span>
 </section>



 <section class="grid grid-cols-2 dark:hover:glass hover:bg-secondary p-3 ">

    <span class="font-semibold">Duration:</span> 
    
    <span class=""> {{loanDetail.duration}} months</span>
 </section>
    
<ng-container *ngIf="(currentUser$|async)as currentUser">
       
    
    <section class='flex gap-3 justify-end' *ngIf="currentUser.role ==='user' && loanDetail.status ==='APPROVED'">

        <app-button [btnText]="'Back'" [styles]="'bg-primary text-secondary dark:text-secondary dark:glass py-2 px-5 rounded-3xl'" (clickEvent)="handleBack()" ></app-button>

 <app-button [btnText]="'Make Payment'" [styles]="'bg-primary text-secondary dark:text-secondary dark:glass py-2 px-5 rounded-3xl'" (clickEvent)="handleLoanPayment()" ></app-button>

</section>



<section class='flex gap-3 justify-end' *ngIf="currentUser.role ==='user' && loanDetail.status ==='PENDING'">
    <app-button [btnText]="'Back'" [styles]="'bg-primary text-secondary dark:text-secondary dark:glass py-2 px-5 rounded-3xl'" (clickEvent)="handleBack()" ></app-button>

    <app-button [btnText]="'Withdraw'" [styles]="'bg-primary text-secondary dark:text-secondary dark:glass py-2 px-5 rounded-3xl'" (clickEvent)="handleWithdrawal(loanDetail.id)" ></app-button>
   
   </section>



   <section class='flex gap-3 justify-end' *ngIf="currentUser.role ==='user' && loanDetail.status ==='DECLINED'">
    <app-button [btnText]="'Back'" [styles]="'bg-primary text-secondary dark:text-secondary dark:glass py-2 px-5 rounded-3xl'" (clickEvent)="handleBack()" ></app-button>

    <!-- <app-button [btnText]="'Retry'" [styles]="'bg-primary text-secondary dark:text-secondary dark:glass py-2 px-5 rounded-3xl'" (clickEvent)="handleRetry()" ></app-button> -->
   
   </section>

<section *ngIf="currentUser.role ==='admin'" class="flex justify-end gap-2 ">

   <app-button [btnText]="'Back'" [styles]="'bg-primary text-secondary dark:text-secondary dark:glass py-2 px-5 rounded-3xl'" (clickEvent)="handleBack()" ></app-button>

    <app-button [btnText]="'Approve'" [loading]="loading" [styles]="'bg-primary text-secondary dark:text-secondary dark:glass  py-2 px-5 rounded-3xl'" (clickEvent)="handleProcessLoan({status: 'APPROVED', actionedBy:loanDetail.id}, loanDetail.id)" ></app-button>
    <app-button [btnText]="'Decline'" [loading]="loading" [styles]="'bg-primary text-secondary dark:text-secondary dark:glass py-2 px-5 rounded-3xl'" (clickEvent)="handleProcessLoan({status: 'DECLINED', actionedBy:loanDetail.id}, loanDetail.id)" ></app-button>
    </section>


    
</ng-container> 
    </ng-container>
    </section>

    </section>
    <ngx-loading
  [config]="{ backdropBorderRadius: '3px' }"
  [show]="loading"
></ngx-loading>