<section class="container-text">
  <section class="flex flex-col gap-5">
    <div
      class="flex flex-col flex-wrap md:flex-nowrap md:flex-row justify-between items-center gap-8"
    >
      <div
        class="bg-white dark:glass rounded-md w-full h-20 p-2 pl-4 shadow-md flex items-center gap-3"
      >
        <img src="../../assets/images/balance.svg" alt="balance" />
        <div class="flex-grow dark:text-secondary text-primary">
          <p class="font-bold text-md pr-6">
            {{ balance() | currency : "USD" }}
          </p>
          <span class="text-xs capitalize font-normal">Balance</span>
        </div>
      </div>
      <div
        class="bg-white dark:glass rounded-md w-full h-20 p-2 pl-4 shadow-md flex items-center gap-3"
      >
        <img src="../../assets/images/beneficiaries.svg" />

        <div class="flex-grow dark:text-secondary text-primary">
          <p class="font-bold text-md pr-6">
            {{ (beneficiaries | async)?.length }}
          </p>
          <span class="text-xs capitalize font-normal">Beneficiaries</span>
        </div>
      </div>
      <div
        class="bg-white dark:glass rounded-md w-full h-20 p-2 shadow-md flex items-center gap-3"
      >
        <svg
          fill="none"
          height="42"
          viewBox="0 0 42 42"
          width="42"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            fill="#FF8300"
            height="41.1699"
            opacity="0.1"
            rx="20.585"
            width="41.1699"
            y="0.830078"
          />
          <path
            d="M16.7573 17.4243L21 13.1816L25.2427 17.4243C26.0818 18.2634 26.6532 19.3325 26.8847 20.4964C27.1162 21.6603 26.9974 22.8667 26.5433 23.963C26.0891 25.0594 25.3201 25.9965 24.3334 26.6557C23.3467 27.315 22.1867 27.6669 21 27.6669C19.8133 27.6669 18.6533 27.315 17.6666 26.6557C16.6799 25.9965 15.9109 25.0594 15.4567 23.963C15.0026 22.8667 14.8838 21.6603 15.1153 20.4964C15.3468 19.3325 15.9182 18.2634 16.7573 17.4243ZM21 15.0676L17.7 18.367C17.266 18.7999 16.9219 19.3143 16.6873 19.8806C16.4528 20.4469 16.3325 21.054 16.3333 21.667H25.6667C25.6675 21.054 25.5472 20.4469 25.3127 19.8806C25.0781 19.3143 24.734 18.7999 24.3 18.367L21 15.067V15.0676Z"
            fill="#FF8300"
          />
        </svg>

        <div class="flex-grow dark:text-secondary text-primary">
          <p class="font-bold text-md pr-6">{{ loanStats().pending }}</p>
          <span class="text-xs capitalize font-normal">Pending Loan</span>
        </div>
      </div>

      <div
        class="bg-white dark:glass rounded-md w-full h-20 p-2 shadow-md flex items-center gap-3"
      >
        <svg
          fill="none"
          height="42"
          viewBox="0 0 42 42"
          width="42"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            fill="#32A071"
            height="41.1699"
            opacity="0.1"
            rx="20.585"
            width="41.1699"
            y="0.830078"
          />
          <path
            d="M14.3333 19.0001H16.3333V27.0001H14.3333C14.1565 27.0001 13.9869 26.9298 13.8619 26.8048C13.7369 26.6798 13.6666 26.5102 13.6666 26.3334V19.6667C13.6666 19.4899 13.7369 19.3204 13.8619 19.1953C13.9869 19.0703 14.1565 19.0001 14.3333 19.0001ZM17.862 18.1381L22.1286 13.8714C22.1853 13.8145 22.2607 13.7801 22.3408 13.7743C22.4209 13.7685 22.5004 13.7919 22.5646 13.8401L23.1333 14.2667C23.2912 14.3853 23.4105 14.548 23.4761 14.7342C23.5417 14.9205 23.5507 15.122 23.502 15.3134L22.7333 18.3334H27C27.3536 18.3334 27.6927 18.4739 27.9428 18.7239C28.1928 18.974 28.3333 19.3131 28.3333 19.6667V21.0694C28.3335 21.2436 28.2995 21.4162 28.2333 21.5774L26.17 26.5874C26.1196 26.7096 26.0341 26.814 25.9243 26.8875C25.8145 26.9609 25.6854 27.0001 25.5533 27.0001H18.3333C18.1565 27.0001 17.9869 26.9298 17.8619 26.8048C17.7369 26.6798 17.6666 26.5102 17.6666 26.3334V18.6094C17.6667 18.4326 17.7369 18.2631 17.862 18.1381Z"
            fill="#32A071"
          />
        </svg>

        <div class="flex-grow dark:text-secondary text-primary">
          <p class="font-bold text-md pr-6">{{ loanStats().approved }}</p>
          <span class="text-xs capitalize font-normal">Approved Loan</span>
        </div>
      </div>

      <div
        class="bg-white dark:glass rounded-md w-full h-20 p-2 shadow-md flex items-center gap-3"
      >
        <svg
          fill="none"
          height="42"
          viewBox="0 0 42 42"
          width="42"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            fill="#F91313"
            height="41.1699"
            opacity="0.1"
            rx="20.585"
            width="41.1699"
            y="0.830078"
          />
          <path
            d="M27.6667 23H25.6667V15H27.6667C27.8435 15 28.0131 15.0702 28.1381 15.1953C28.2631 15.3203 28.3334 15.4899 28.3334 15.6667V22.3333C28.3334 22.5101 28.2631 22.6797 28.1381 22.8047C28.0131 22.9298 27.8435 23 27.6667 23ZM24.138 23.862L19.8714 28.1287C19.8146 28.1855 19.7393 28.22 19.6592 28.2258C19.5791 28.2315 19.4996 28.2082 19.4354 28.16L18.8667 27.7333C18.7088 27.6148 18.5895 27.4521 18.5239 27.2658C18.4582 27.0796 18.4493 26.878 18.498 26.6867L19.2667 23.6667H15C14.6464 23.6667 14.3073 23.5262 14.0572 23.2761C13.8072 23.0261 13.6667 22.687 13.6667 22.3333V20.9307C13.6665 20.7564 13.7005 20.5838 13.7667 20.4227L15.8307 15.4133C15.8809 15.2912 15.9662 15.1867 16.0759 15.1131C16.1856 15.0395 16.3146 15.0001 16.4467 15H23.6667C23.8435 15 24.0131 15.0702 24.1381 15.1953C24.2631 15.3203 24.3334 15.4899 24.3334 15.6667V23.3907C24.3333 23.5675 24.2631 23.737 24.138 23.862Z"
            fill="#F91313"
          />
        </svg>
        <div class="flex-grow dark:text-secondary text-primary">
          <p class="font-bold text-md pr-6">{{ loanStats().declined }}</p>
          <span class="text-xs capitalize font-normal">Declined Loan</span>
        </div>
      </div>
    </div>

    <section class="flex flex-col sm:flex-row gap-3">
      <section class="w-full py-6 px-5 sm:w-1/2 skin dark:glass rounded-2xl">
        <div *ngIf="transferSteps() === 0">
          <app-tabs
            (steps)="navigateTab($event, formTabIndex)"
            [tabs]="tabsForm"
          ></app-tabs>
        </div>
        <form
          (ngSubmit)="handlePayment()"
          *ngIf="(formTabIndex | async) === 1 && transferSteps() === 0"
          [formGroup]="paymentForm"
          class="w-full flex flex-col mt-3 gap-2"
        >
          <select-input
            [bindLabel]="'name'"
            [bindValue]="'id'"
            [formControl]="paymentChannel"
            [items]="PaymentOptions"
            [label]="'Channel'"
            [multiple]="false"
            [placeholder]="'Select Payment Options'"
            (changeEvent)="handlePaymentChannelChange($event)"
            class="ring-0"
          >
          </select-input>

          <acc-lookup
            [data]="asyncValue"
            [formControl]="accountNumber"
            [label]="'Account Number'"
            [placeholder]="'Enter Account Number'"
          >
          </acc-lookup>

          <section>
            <label class="flex gap-1 text-xs">
              <span class="text-primary dark:text-label-color">Amount</span>
              <i
                *ngIf="hasRequiredValidator()"
                class="fa-solid size text-red-700 align-top fa-asterisk"
                style="font-size: xx-small"
              ></i>
            </label>
            <div
              [ngClass]="{
                'error-input': this.validateControl(amount, 'required'),
                'border-border-blue-100 focus-within:border-gray-200 ':
                  !this.validateControl(amount, 'required')
              }"
              class="border border-blue-100 flex dark:glass-input dark:border-none justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg w-full"
            >
              <span
                ><i class="fa-solid text-gray-300 fa-money-check-dollar"></i
              ></span>
              <input
                [formControl]="amount"
                class="input-style"
                placeholder="Enter Amount"
                type="text"
              />
            </div>
            <span
              *ngIf="this.validateControl(amount, 'required')"
              class="text-error text-xs"
              >This Field is Required</span
            >
            <span
              *ngIf="this.validateControl(amount, 'maxValue')"
              class="text-error text-xs"
              >Balance Exceeded</span
            >
          </section>

          <!-- Implement later beneficiary feature -->
          <section *ngIf="asyncValue && !isBeneficiarySelected()">
            <label
              class="relative inline-flex items-center mb-4 cursor-pointer"
            >
              <input
                class="sr-only peer"
                type="checkbox"
                (change)="handleBeneficiaryChange()"
                value="toggleAddBeneficiary()"
              />
              <div
                class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-1 peer-focus:ring-blue-50 dark:peer-focus:ring-blue-100 dark:bg-gray-100 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-primary after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-gray-400"
              ></div>
              <span
                class="ml-3 text-sm font-medium text-primary dark:text-label-color"
                >Add to beneficiaries</span
              >
            </label>
          </section>

          <app-button
            [type]="'button'"
            [btnText]="'Pay'"
            [disabled]="paymentForm.invalid"
            (clickEvent)="updateSignal(1)"
            [styles]="'btn-primary'"
          ></app-button>
        </form>

        <!--      Loan Request Form-->

        <form
          (ngSubmit)="handleLoanRequest()"
          *ngIf="(formTabIndex | async) === 2 && transferSteps() === 0"
          [formGroup]="loanForm"
          class="w-full flex cla flex-col mt-3 gap-2"
        >
          <section>
            <label class="flex gap-1 text-xs">
              <span class="text-primary dark:text-label-color"
                >Loan Amount</span
              >
              <i
                *ngIf="hasRequiredValidator()"
                class="fa-solid size text-red-700 align-top fa-asterisk"
                style="font-size: xx-small"
              ></i>
            </label>
            <div
              [ngClass]="{
                'error-input': this.validateControl(loanAmount, 'required'),
                'border-border-blue-100 focus-within:border-gray-200 ':
                  !this.validateControl(loanAmount, 'required')
              }"
              class="border border-blue-100 flex dark:glass-input dark:border-none justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg w-full"
            >
              <span
                ><i class="fa-solid text-gray-300 fa-money-check-dollar"></i
              ></span>
              <input
                [formControl]="loanAmount"
                class="input-style"
                placeholder="Enter Amount"
                type="text"
              />
            </div>
            <span
              *ngIf="this.validateControl(loanAmount, 'required')"
              class="text-error text-xs"
              >This Field is Required</span
            >
            <span
              *ngIf="this.validateControl(loanAmount, 'maxLoanValue')"
              class="text-error text-xs"
              >Exceeded Loan Limit</span
            >
          </section>

          <select-input
            [bindLabel]="'name'"
            [bindValue]="'id'"
            [formControl]="duration"
            [items]="options"
            [label]="'Duration'"
            [multiple]="true"
            [placeholder]="'Select options'"
            (changeEvent)="handleChange($event)"
            class="ring-0"
          >
          </select-input>
          <app-button
            [type]="'button'"
            [btnText]="'Send Request'"
            (clickEvent)="updateSignal(2)"
            [disabled]="loanForm.invalid"
            [styles]="'btn-primary'"
          ></app-button>
        </form>

        <!-- Fund Wallet Form -->
        <form
          *ngIf="(formTabIndex | async) === 3 && transferSteps() === 0"
          [formGroup]="walletFund"
          class="w-full flex cla flex-col mt-3 gap-2"
        >
          <section>
            <label class="flex gap-1 text-xs">
              <span class="text-primary dark:text-label-color">Amount</span>
              <i
                *ngIf="hasRequiredValidator()"
                class="fa-solid size text-red-700 align-top fa-asterisk"
                style="font-size: xx-small"
              ></i>
            </label>
            <div
              [ngClass]="{
                'error-input': this.validateControl(fundAmount, 'required'),
                'border-border-blue-100 focus-within:border-gray-200 ':
                  !this.validateControl(loanAmount, 'required')
              }"
              class="border border-blue-100 flex dark:glass-input dark:border-none justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg w-full"
            >
              <span
                ><i class="fa-solid text-gray-300 fa-money-check-dollar"></i
              ></span>
              <input
                [formControl]="fundAmount"
                class="input-style"
                placeholder="Enter Amount"
                type="text"
              />
            </div>
            <span
              *ngIf="this.validateControl(fundAmount, 'required')"
              class="text-error text-xs"
              >This Field is Required</span
            >
          </section>

          <select-input
            [bindLabel]="'name'"
            [bindValue]="'id'"
            [formControl]="fundChannel"
            [items]="selectOptions"
            [label]="'Channel'"
            [multiple]="true"
            [placeholder]="'Select options'"
            class="ring-0"
          >
          </select-input>

          <app-button
            [type]="'button'"
            [btnText]="'Process Request'"
            (clickEvent)="updateSignal(3)"
            [disabled]="walletFund.invalid"
            [styles]="'btn-primary'"
          ></app-button>
        </form>

        <!-- confimation page -->

        <!-- Transaction summary -->
        <section *ngIf="transferSteps() === 1">
          <ng-container *ngIf="paymentService.error()">
            <app-alert
              class="w-5/6 md:w-4/6 lg:w-1/3"
              (clearError)="handleClearError()"
              [msg]="paymentService.error()"
            ></app-alert>
          </ng-container>
          <ol
            class="relative border-l mt-4 border-gray-200 dark:text-secondary text-primary dark:border-gray-700"
          >
            <h3
              class="flex items-center text-lg mb-3 text-primary dark:text-secondary"
            >
              Transfer Summary
            </h3>
            <li class="mb-10 ml-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 rounded-full -left-3 ring-8 ring-primary bg-primary-light"
              >
                <svg
                  aria-hidden="true"
                  class="w-3 h-3 text-primary dark:text-secondary"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    clip-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <h3 class="flex items-center mb-1 text-md">
                User Details
                <span
                  class="text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full bg-success text-white ml-3"
                  >Active</span
                >
              </h3>
              <!-- <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on
        January
        13th, 2022
      </time> -->
              <p class="text-sm text-primary dark:text-secondary">
                {{ transferDetails.initiatorName }}
              </p>
              <p class="text-sm text-primary dark:text-secondary">
                {{ transferDetails.amount | currency : "USD" }}
              </p>
              <!-- <p class="mb-4  text-sm text-primary dark:text-secondary ">Description</p> -->
            </li>
            <li class="mb-10 ml-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 rounded-full -left-3 ring-8 ring-primary bg-primary-light"
              >
                <svg
                  aria-hidden="true"
                  class="w-3 h-3 text-primary dark:text-secondary"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    clip-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <h3 class="mb-1 text-md text-primary dark:text-secondary">
                Beneficiary
              </h3>
              <!-- <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on
        December 7th, 2021
      </time> -->

              <p class="text-sm text-primary dark:text-secondary">
                {{ transferDetails.beneficiaryName }}
              </p>
              <p class="text-sm text-primary dark:text-secondary">
                {{ transferDetails.beneficiaryAccount }}
              </p>
            </li>
          </ol>

          <section class="flex gap-2 justify-end">
            <app-button
              [type]="'button'"
              [btnText]="'Cancel'"
              (clickEvent)="updateSignal(0)"
              [styles]="'btn-primary rounded-full'"
            ></app-button>

            <ng-container *ngIf="paymentChannel.value === 'Card'">
              <app-button
                [type]="'button'"
                [btnText]="'Pay With Stripe'"
                [loading]="paymentLoader"
                (clickEvent)="handlePayment()"
                [styles]="'btn-primary rounded-full'"
              ></app-button>
            </ng-container>

            <ng-container *ngIf="paymentChannel.value === 'Wallet'">
              <app-button
                [type]="'button'"
                [btnText]="'Pay With Wallet'"
                [loading]="paymentLoader"
                (clickEvent)="handlePayment()"
                [styles]="'btn-primary rounded-full'"
              ></app-button>
            </ng-container>
          </section>
        </section>

        <!-- loan Request summary -->
        <section *ngIf="transferSteps() === 2">
          <ol
            class="relative border-l mt-4 border-gray-200 dark:text-secondary text-primary dark:border-gray-700"
          >
            <h3
              class="flex items-center text-lg mb-3 text-primary dark:text-secondary"
            >
              Loan Request Summary
            </h3>
            <li class="mb-10 ml-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 rounded-full -left-3 ring-8 ring-primary bg-primary-light"
              >
                <svg
                  aria-hidden="true"
                  class="w-3 h-3 text-primary dark:text-secondary"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    clip-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <h3 class="flex items-center mb-1 text-md">
                Loan Details
                <span
                  class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ml-3"
                  >In Progress</span
                >
              </h3>
              <!-- <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on
        January
        13th, 2022
      </time> -->
              <p class="text-sm text-primary dark:text-secondary">
                <span>Amount:</span> {{ loanDetails.amount }}
              </p>
              <p class="text-sm text-primary dark:text-secondary">
                <span>Duration:</span> {{ loanDetails.duration }} months
              </p>
              <p class="text-sm text-primary dark:text-secondary">
                <span>Rate:</span> 1.5 %
              </p>
            </li>
            <li class="mb-10 ml-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 rounded-full -left-3 ring-8 ring-primary bg-primary-light"
              >
                <svg
                  aria-hidden="true"
                  class="w-3 h-3 text-primary dark:text-secondary"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    clip-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <p class="text-sm text-primary dark:text-secondary">
                Request is subject to approval
              </p>
            </li>
          </ol>

          <section class="flex justify-end gap-2">
            <app-button
              [type]="'button'"
              [btnText]="'Cancel'"
              (clickEvent)="updateSignal(0)"
              [styles]="'btn-primary rounded-full'"
            ></app-button>

            <app-button
              [type]="'button'"
              [btnText]="'Proceed'"
              [loading]="loanLoader"
              (clickEvent)="handleLoanRequest()"
              [styles]="'btn-primary rounded-full'"
            ></app-button>
          </section>
        </section>

        <!-- 
Fund request Summary -->

        <section *ngIf="transferSteps() === 3">
          <ol
            class="relative border-l mt-4 ml-4 border-gray-200 dark:text-secondary text-primary dark:border-gray-700"
          >
            <h3
              class="flex items-center text-lg mb-3 text-primary dark:text-secondary"
            >
              Fund Request Summary
            </h3>
            <li class="mb-10 ml-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 rounded-full -left-3 ring-8 ring-primary bg-primary-light"
              >
                <svg
                  aria-hidden="true"
                  class="w-3 h-3 text-primary dark:text-secondary"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    clip-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <h3 class="flex items-center mb-1 text-md">
                Fund Status
                <span
                  class="bg-blue-100 text-primary text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:glass dark:text-primary ml-3"
                  >In Progress</span
                >
              </h3>
              <!-- <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on
        January
        13th, 2022
      </time> -->
              <p class="text-sm text-primary dark:text-secondary">
                <span>Amount:</span> {{ fundDetails.amount | currency : "USD" }}
              </p>
              <p class="text-sm text-primary dark:text-secondary">
                <span>Channel:</span> Card
              </p>
            </li>
            <li class="mb-10 ml-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 rounded-full -left-3 ring-8 ring-primary bg-primary-light"
              >
                <svg
                  aria-hidden="true"
                  class="w-3 h-3 text-primary dark:text-secondary"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    clip-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <p class="text-sm text-primary dark:text-secondary">
                For Test Kindly Use Demo Card Details
              </p>

              <p class="text-sm text-primary dark:text-secondary">
                4242424242424242
                <app-clipboard
                  [style]="'text-green-500 text-xs'"
                  [textToCopy]="'4242424242424242'"
                ></app-clipboard>
              </p>
            </li>
          </ol>

          <section class="flex justify-end gap-2">
            <app-button
              [type]="'button'"
              [btnText]="'Cancel'"
              (clickEvent)="updateSignal(0)"
              [styles]="'btn-primary rounded-full'"
            ></app-button>

            <app-button
              [type]="'button'"
              [btnText]="'Proceed'"
              [loading]="fundLoader"
              (clickEvent)="handleFundRequest()"
              [styles]="'btn-primary rounded-full'"
            ></app-button>
          </section>
        </section>
      </section>

      <section
        class="w-full skin sm:w-1/2 rounded-2xl bg-white dark:glass py-6 px-5"
      >
        <app-tabs
          (steps)="navigateTab($event, tabIndex)"
          [tabs]="BeneficiaryTabs"
        ></app-tabs>

        <section *ngIf="(tabIndex | async) === 1" class="">
          <ng-container *ngIf="beneficiaries | async as beneficiaries">
            <section
              *ngIf="beneficiaries.length > 5"
              class="flex items-center justify-between"
            >
              <small class="mt-2"
                >Showing {{ beneficiaries.length }} beneficiaries</small
              >
              <div>
                <button class="btn btn-primary cursor-pointer rounded-3xl">
                  Show All
                </button>
              </div>
            </section>

            <ng-container *ngIf="beneficiaries.length >= 1; else noRecord">
              <section *ngFor="let beneficiary of beneficiaries">
                <div
                  (click)="selectBeneficiary($event, beneficiary)"
                  class="flex cursor-pointer beneficiary-list items-center dark:text-secondary text-primary p-2 border dark:border-none dark:glass rounded-lg mt-4 gap-2"
                >
                  <i class="fa text-gray-300 fa-circle-check"></i>
                  <section class="flex flex-col">
                    <h4 class="text-sm">{{ beneficiary.name }}</h4>
                    <p class="text-sm">{{ beneficiary.accountNumber }}</p>
                  </section>
                </div>
              </section>
            </ng-container>

            <ng-template #noRecord>
              <section class="h-[250px] flex items-center justify-center">
                <p class="text-primary dark:text-secondary">
                  No Beneficiary Saved!
                </p>
              </section>
            </ng-template>
          </ng-container>
        </section>
        <section *ngIf="(tabIndex | async) === 2" class="">
          <!--        <p class="mb-2">Transaction Timeline</p>-->
          <ol
            class="relative border-l mt-4 border-gray-200 dark:text-secondary text-primary dark:border-gray-700"
          >
            <li class="mb-10 ml-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
              >
                <svg
                  aria-hidden="true"
                  class="w-3 h-3 text-blue-800 dark:text-blue-300"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    clip-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <h3 class="flex items-center mb-1 text-lg font-semibold">
                Flowbite Application UI v2.0.0
                <span
                  class="bg-blue-100 text-blue-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ml-3"
                  >Latest</span
                >
              </h3>
              <time
                class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
                >Released on January 13th, 2022
              </time>
              <p class="mb-4 font-normal">
                Get access to over 20+ pages including a dashboard layout,
                charts, kanban board, calendar, and pre-order E-commerce &
                Marketing pages.
              </p>
              <a
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-900 bg-white dark:glass border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-200 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
                href="#"
              >
                <svg
                  class="w-4 h-4 mr-2"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    clip-rule="evenodd"
                    d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v3.586l-1.293-1.293a1 1 0 10-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 11.586V8z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
                Download ZIP</a
              >
            </li>
            <li class="mb-10 ml-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
              >
                <svg
                  aria-hidden="true"
                  class="w-3 h-3 text-blue-800 dark:text-blue-300"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    clip-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <h3 class="mb-1 text-lg font-semibold">Flowbite Figma v1.3.0</h3>
              <time
                class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
                >Released on December 7th, 2021
              </time>
              <p class="font-normal text-gray-500">
                All of the pages and components are first designed in Figma and
                we keep a parity between the two versions even as we update the
                project.
              </p>
            </li>
            <li class="ml-6">
              <span
                class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -left-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900"
              >
                <svg
                  aria-hidden="true"
                  class="w-3 h-3 text-blue-800 dark:text-blue-300"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    clip-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    fill-rule="evenodd"
                  ></path>
                </svg>
              </span>
              <h3 class="mb-1 text-lg font-semibold">
                Flowbite Library v1.2.2
              </h3>
              <time
                class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
                >Released on December 2nd, 2021
              </time>
              <p class="font-normal">
                Get started with dozens of web components and interactive
                elements built on top of Tailwind CSS.
              </p>
            </li>
          </ol>
        </section>
      </section>
    </section>
  </section>
</section>
