<!--Reactive forms-->
<section class="flex flex-col min-h-screen items-center justify-center">
  <ng-container *ngIf="authservice.notification()">
    <app-alert
      class="w-5/6 md:w-4/6 lg:w-1/2"
      (clearError)="handleClearError()"
      [type]="authservice.notification().type"
      [msg]="authservice.notification().message"
    ></app-alert>
  </ng-container>
  <section
    class="bg-white mt-10 lg:mt-20 dark:glass w-5/6 md:w-4/6 lg:w-1/2 py-10 px-6 flex gap-6 flex-col items-center justify-center"
  >
    <p class="text-center text-primary dark:text-black font-bold text-2xl">
      Sign Up
    </p>

    <section class="flex flex-col gap-3 items-center justify-center w-full">
      <button (click)="handleGoogleAuth()" class="btn flex gap-3 btn-primary">
        <img src="../../../assets/images/google.svg" />
        Google
      </button>

      <section class="text-primary dark:text-secondary">
        <svg
          width="25px"
          height="25px"
          fill="currentColor"
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M 11 3 L 11 29 L 13 29 L 13 3 L 11 3 z M 19 3 L 19 29 L 21 29 L 21 3 L 19 3 z"
            ></path>
          </g>
        </svg>
      </section>
    </section>
    <form
      (ngSubmit)="handleRegister(SignupForm.value)"
      [formGroup]="SignupForm"
      autocomplete="off"
      class="w-full flex flex-col gap-2 items-center"
    >
      <div class="w-full flex gap-4">
        <text-input
          [formControl]="firstname"
          [label]="'First Name'"
          [placeholder]="'Enter First Name'"
          class="w-5/6"
        >
        </text-input>

        <text-input
          [formControl]="lastname"
          [label]="'Last Name'"
          [placeholder]="'Enter Last Name'"
          class="w-5/6"
        >
        </text-input>
      </div>
      <div class="w-full flex gap-4">
        <email-input
          [formControl]="email"
          [label]="'Email'"
          class="w-full"
        ></email-input>

        <app-date-picker
          [dateConfig]="config"
          [formControl]="DOB"
          [label]="'Date Of Birth'"
          class="w-full"
        ></app-date-picker>

        <!--                    <app-label [label]="'label'" [required]="true"></app-label>-->
        <!--                    <mat-form-field class="lg:w-full "-->
        <!--                    >-->
        <!--                      <input (dateChange)="onDateSelected($event)" [formControl]="DOB" [matDatepicker]="picker"-->
        <!--                             class="lg:w-full" matInput-->
        <!--                             placeholder="Select a date">-->
        <!--                      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>-->
        <!--                      <mat-datepicker #picker></mat-datepicker>-->
        <!--                    </mat-form-field>-->
        <!--        </section>-->

        <!--        <text-input [formControl]="DOB"-->
        <!--                    [label]="'Date Of Birth'"-->

        <!--                    [placeholder]="'Select Date'" class="w-5/6">-->

        <!--        </text-input>-->
      </div>
      <section></section>
      <div class="w-full flex gap-4">
        <password-input
          [formControl]="password"
          [label]="'Password'"
          [type]="'password'"
          class="w-5/6"
        ></password-input>

        <select-input
          [bindLabel]="'name'"
          [bindValue]="'id'"
          [formControl]="accountType"
          [items]="[{ name: 'Wallet', id: 'Wallet' }]"
          [label]="'Account Type'"
          [multiple]="true"
          [placeholder]="'Select options'"
          class="w-5/6"
        >
        </select-input>

        <!-- <password-input
          [formControl]="passwordConfirm"
          [label]="'Password'"
          [placeholder]="'Confirm Password'"
          [type]="'password'"
          class="w-5/6"
        ></password-input> -->
      </div>
      <section class="w-full mt-4">
        <app-button
          [btnText]="'Register'"
          [disabled]="SignupForm.invalid"
          [loading]="loading"
          [styles]="'btn-primary'"
        ></app-button>
      </section>
      <p class="text-sm flex gap-2">
        Already Have An Account ?
        <a [routerLink]="['/auth/login']" class="text-blue-700 text-sm"
          >Login</a
        >
      </p>
    </form>
  </section>
</section>
<!--<button (click)="toggleModal()">Test Subject</button>-->
<!--<app-modals>-->
<!--    <div>-->
<!--        Sign up Successful-->
<!--    </div>-->
<!--    <div>-->
<!--        Sign up Successful-->
<!--    </div>-->
<!--    <div>-->
<!--        Sign up Successful-->
<!--    </div>-->
<!--</app-modals >-->

<ngx-loading
  [config]="{ backdropBorderRadius: '3px' }"
  [show]="loading"
></ngx-loading>
