<!--Reactive forms-->
<section class="flex main_color   items-center justify-center">
  <section class="bg-white md:w-1/2 lg:w-1/2 py-10 px-6 flex gap-6  flex-col items-center justify-center">
    <p class="text-center font-bold text-2xl">Register</p>
    <form (ngSubmit)="handleRegister(SignupForm.value)" [formGroup]="SignupForm" action="" autocomplete="off"
          class="w-full flex flex-col gap-2 items-center">
      <div class="w-full flex gap-4">
        <text-input [formControl]="firstname"
                    [label]="'First Name'"
                    [placeholder]="'Enter First Name'" class="w-5/6">

        </text-input>

        <text-input [formControl]="lastname"
                    [label]="'Last Name'"
                    [placeholder]="'Enter Last Name'" class="w-5/6">

        </text-input>

      </div>
      <div class="w-full flex gap-4">


        <email-input
          [formControl]="email"
          [label]="'Email'"
          class="w-5/6"
        ></email-input>
        <text-input [formControl]="DOB"
                    [label]="'Date Of Birth'"

                    [placeholder]="'Select Date'" class="w-5/6">

        </text-input>

      </div>
      <div class="w-full flex gap-4">
        <password-input
          [formControl]="password"
          [label]="'Password'"
          [type]="'password'"
          class="w-5/6"
        ></password-input>

        <password-input
          [formControl]="passwordConfirm"
          [label]="'Password'"
          [placeholder]="'Confirm Password'"
          [type]="'password'"
          class="w-5/6"
        ></password-input>


      </div>
      <section class="w-full mt-4">

        <app-button [btnText]="authservice.isLoading? 'Processing...':'Register'"

                    [styles]="'btn-primary'"></app-button>
      </section>
      <p class="text-sm  flex gap-2">
        Already Have An Account
        <a [routerLink]="['/login']" class="text-blue-700  text-sm">Login</a>
      </p>
    </form>
  </section>
</section>
<!--<button (click)="toggleModal()">Test Subject</button>-->
<!--<app-modals>-->
<!--    <div>-->
<!--        Sign up Successful-->
<!--    </div>-->
<!--    <div>-->
<!--        Sign up Successful-->
<!--    </div>-->
<!--    <div>-->
<!--        Sign up Successful-->
<!--    </div>-->
<!--</app-modals >-->


<ngx-loading
  [config]="{ backdropBorderRadius: '3px' }"
  [show]="authservice.isLoading"

></ngx-loading>


