<form (ngSubmit)="handleResetForm(resetPasswordForm.value)" [formGroup]="resetPasswordForm"
      class="w-full flex flex-col justify-center gap-2 items-center">

  <email-input
    [formControl]="email"
    [label]="'Enter Email'"
    [type]="'email'"
    class="w-5/6"
  ></email-input>
  <section class="w-5/6 mt-4">
    <app-button [btnText]="authservice?.isLoading? 'Processing...':'Update'" [disabled]="resetPasswordForm.invalid"
                [styles]="'btn-primary'"></app-button>
  </section>
  <p class="flex  gap-3 text-sm tex-gray-800">
    Need An Account
    <a [routerLink]="['/signup']" class="text-blue-600 text-sm">
      Sign up
    </a>
  </p>

</form>
