<div class="card bg-primary dark:glass  flex gap-3">
  <section class="flex   flex-col mt-4 justify-between ">
    <section
      class="  flex  items-center flex-col"
    >
      <p class="text-secondary">{{valueTxt}}</p>
      <ng-content></ng-content>


    </section>
    <button (click)="toggleValue()" class="p-2 w-24 rounded-lg text-xs text-black bg-gray-100">
      {{showValue ? "Hide Balance" : "Show Balance"}}
    </button>
  </section>

  <section
    class=" rounded-lg dark:glass  skin  h-[170px] flex-grow w-1/2 justify-center text-black dark:text-primary flex gap-4"
  >

    <div class="flex items-center justify-around">

      <p *ngIf="showValue" class="text-2xl text-black font-bold">{{value |currency:'USD'}}</p>
      <!-- <p *ngIf="!showValue" class="text-2xl font-bold" appMask>{{value |currency:'USD'}}</p> -->
      <p *ngIf="!showValue" class="text-2xl text-black font-bold">*********</p>

    </div>
  </section>
</div>
