<div class="border-b-2 border-gray-200 dark:border-transparent">
  <ul
    class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-600 dark:text-gray-600">
    <li *ngFor="let tab of tabs; let i = index" class="mr-2">
      <a (click)="navigateTab(tab.step)"
         [ngClass]="tab.step ===selectedTab ? 'border-b-2 active dark:text-primary dark:border-primary': ''"
         class="inline-flex p-4 border-b-2 border-transparent rounded-t-lg  group"
      >

        {{tab.title}}
      </a>
    </li>

  </ul>
</div>
