<div style="text-align:center">
  <apx-chart #chart
             [chart]="chartOptions.chart"
             [colors]="chartOptions.colors"
             [dataLabels]="chartOptions.datalabels"
             [fill]="chartOptions.fill"
             [noData]="chartOptions.noData"
             [plotOptions]="chartOptions.plotOptions"
             [series]="chartOptions.series"
             [stroke]="chartOptions.stroke"
             [title]="chartOptions.title"
             [xaxis]="chartOptions.xaxis"
  ></apx-chart>
</div>
