<section class="flex md:flex-row w-full container-text flex-col items-center gap-6 min-h-screen h-screen">
  <section *ngIf="currentUser$|async as currentUser" class="text-center  border w-1/3   h-4/6 rounded-xl">
    <div class="py-3 ">
      <img alt="" class="bg-white border rounded-full mx-auto  h-32" src="./assets/images/Vector1580.svg">
    </div>
    <section class="flex flex-col gap-4 ">
      <p class="text-2xl">Personal Details</p>
      <span>
          {{currentUser.name}}
        </span>
      <span>
            {{currentUser.email}}
        </span>
      <span>
            +234-803-333-444
        </span>
      <hr>

      <span class="flex items-center justify-center gap-3">
            <span>Account Number:</span>

            <span class="font-bold">
           {{currentUser.accountNumber}}
        </span>
          </span>

      <div>
        <button (click)="toggleModal()"
                class="rounded-3xl bg-primary  text-white border p-3 w-1/2">Edit Profile
        </button>
      </div>
    </section>
  </section>
  <section class="flex flex-col gap-7 flex-1   h-5/6 ">


    <section class="bg-white p-6 flex flex-col gap-4  h-auto w-full rounded-xl ">
      <section class="flex justify-end">
        <app-stepper [step]="step" class="w-1/2"></app-stepper>

      </section>


      <section *ngIf="(step| async) === 0" class="flex flex-col gap-5">


        <h2 class="text-lg">Account Information</h2>
        <form (ngSubmit)="handleFormUpdate(profileForm.value)" [formGroup]="profileForm" class="flex flex-col gap-3">

          <div class="py-3 relative w-32 ">
            <img alt="" class="bg-white border rounded-full w-full object-cover   h-32"
                 src="{{previewUrl ? previewUrl : data?.photo}}">
            <fa-icon [icon]="faUserEdit" class="text-gray-300 absolute top-2 left-[102px]"></fa-icon>

            <label for="photo">
              <fa-icon [icon]="faUserEdit" class="text-gray-300 absolute cursor-pointer top-2 left-[102px]"></fa-icon>
            </label>


            <input (change)="onFileSelected($event)"
                   accept="image/*"
                   class="input-style hidden"
                   formControlName="photo"
                   id="photo"
                   name="photo"
                   type="file"
            />
          </div>
          <section class="">
            <label class="text-sm" for="fullName">Full Name </label>
            <div
              class="border border-blue-100 flex justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"
            >
              <span><fa-icon [icon]="faUser" class="text-gray-300"></fa-icon></span>
              <input class="input-style"
                     formControlName="name"
                     id="fullName"
                     placeholder="{{data?.name}}" type="text"/>
            </div>
          </section>
          <section class="">
            <label class="text-sm" for="email"> Email</label>
            <div
              class="border border-blue-100 flex justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"
            >
              <span><fa-icon [icon]="faAt" class="text-gray-300"></fa-icon></span>
              <input
                class="input-style"
                formControlName="email"
                id="email"
                placeholder=""
                type="text"/>
            </div>
          </section>
          <section class="">
            <label class="text-sm" for="email"> Role</label>
            <div
              class="border border-blue-100 flex justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"
            >
              <span><fa-icon [icon]="faAt" class="text-gray-300"></fa-icon></span>
              <input
                class="input-style"
                formControlName="email"

                placeholder=""
                type="text"/>
            </div>
          </section>

          <div class="mt-2 flex justify-end   ">
            <app-button [btnText]="'Next'" [styles]="'btn-primary  rounded-3xl'"
                        class="w-1/2  md:w-1/3 ">
            </app-button>

            <!--            <button class="p-4 w-full rounded-2xl bg-green-500 text-white">Update</button>-->
          </div>
        </form>
      </section>


      <section *ngIf="(step| async) ===1 " class="flex flex-col gap-5">
        <h2 class="text-lg">Change Password</h2>

        <form (ngSubmit)="handlePasswordUpdate(passwordForm.value)" [formGroup]="passwordForm"
              class="flex flex-col gap-3">
          <section class="">
            <label class="text-sm" for="email"> Current Password</label>
            <div
              class="border border-blue-100 flex justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"
            >
              <span><fa-icon [icon]="faLock" class="text-gray-300"></fa-icon></span>
              <input
                class="input-style" formControlName="passwordCurrent"
                placeholder=""
                type="text"/>
            </div>
          </section>
          <section class="">
            <label class="text-sm" for="email"> New Password</label>
            <div
              class="border border-blue-100 flex justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"
            >
              <span><fa-icon [icon]="faLock" class="text-gray-300"></fa-icon></span>
              <input
                class="input-style" formControlName="password"

                placeholder=""
                type="text"/>
            </div>
          </section>
          <section class="">
            <label class="text-sm" for="email"> Confirm Password</label>
            <div
              class="border border-blue-100 flex justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"
            >
              <span><fa-icon [icon]="faLockOpen" class="text-gray-300"></fa-icon></span>
              <input
                class="input-style" formControlName="passwordConfirm"

                placeholder=""
                type="text"/>
            </div>
          </section>

          <div class="mt-2 flex justify-end   ">
            <app-button [btnText]="'Update'" [styles]="'btn-primary  rounded-3xl'"
                        class="w-1/2  md:w-1/3 ">
            </app-button>

            <!--            <button class="p-4 w-full rounded-2xl bg-green-500 text-white">Update</button>-->
          </div>
        </form>

      </section>


      <section *ngIf="(step| async) ===2 " class="  text-center flex-col gap-5">
        <svg aria-hidden="true" class=" text-center animate-pops h-auto w-4/6 text-gray-500  dark:text-primary"
             fill="currentColor"
             viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
          <path clip-rule="evenodd"
                d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm9.707 5.707a1 1 0 00-1.414-1.414L9 12.586l-1.293-1.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                fill-rule="evenodd"></path>
        </svg>
        <div class="mt-2 flex justify-end   ">
          <app-button [btnText]="'Finish'" [styles]="'btn-primary  rounded-3xl'"
                      class="w-1/2  md:w-1/3 ">
          </app-button>

          <!--            <button class="p-4 w-full rounded-2xl bg-green-500 text-white">Update</button>-->
        </div>
      </section>

      <!--                <section class="">-->
      <!--                    <label for="gender">Gender</label>-->
      <!--                    <div-->
      <!--                            class="border border-blue-100 flex justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"-->
      <!--                    >-->
      <!--                        <span><fa-icon [icon]="faAt" class="text-gray-300"></fa-icon></span>-->
      <!--                        <input class="border-none  text-xs md:text-sm focus-within:border-none focus-within:ring-0 w-full"-->
      <!--                               formControlName="gender"-->
      <!--                               id="gender"-->
      <!--                               placeholder=""-->
      <!--                               type="text"/>-->
      <!--                    </div>-->
      <!--                </section>-->
      <!--                <section class="">-->
      <!--                    <label for="Phone">Telephone No </label>-->
      <!--                    <div-->
      <!--                            class="border border-blue-100 flex justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"-->
      <!--                    >-->
      <!--                        <span><fa-icon [icon]="faAt" class="text-gray-300"></fa-icon></span>-->
      <!--                        <input class="border-none  text-xs md:text-sm focus-within:border-none focus-within:ring-0 w-full"-->
      <!--                               formControlName="phone"-->
      <!--                               id="Phone"-->
      <!--                               placeholder=""-->
      <!--                               type="number"/>-->
      <!--                    </div>-->
      <!--                </section>-->
      <!--      <div class="mt-2">-->
      <!--        <button class="p-4 w-full rounded-2xl bg-green-500 text-white">Update</button>-->
      <!--      </div>-->


    </section>
  </section>
  <app-modals [size]="'w-1/2'">
    <!--    <form [formGroup]="profileForm" class="flex flex-col gap-3">-->
    <!--      <section class="">-->
    <!--        <label for="fullName">Full Name </label>-->
    <!--        <div-->
    <!--          class="border border-blue-100 flex justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"-->
    <!--        >-->
    <!--          <span><fa-icon [icon]="faAt" class="text-gray-300"></fa-icon></span>-->
    <!--          <input class="border-none  text-xs md:text-sm focus-within:border-none focus-within:ring-0 w-full"-->
    <!--                 formControlName="fullName"-->
    <!--                 id="fullName"-->
    <!--                 placeholder="{{data?.name}}" type="text"/>-->
    <!--        </div>-->
    <!--      </section>-->
    <!--      <section class="">-->
    <!--        <label for="email"> Email</label>-->
    <!--        <div-->
    <!--          class="border border-blue-100 flex justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"-->
    <!--        >-->
    <!--          <span><fa-icon [icon]="faAt" class="text-gray-300"></fa-icon></span>-->
    <!--          <input [disabled]="true"-->
    <!--                 class="border-none  text-xs md:text-sm focus-within:border-none focus-within:ring-0 w-full"-->
    <!--                 formControlName="email"-->
    <!--                 id="email"-->
    <!--                 placeholder=""-->
    <!--                 type="text"/>-->
    <!--        </div>-->
    <!--      </section>-->
    <!--      &lt;!&ndash;                <section class="">&ndash;&gt;-->
    <!--      &lt;!&ndash;                    <label for="gender">Gender</label>&ndash;&gt;-->
    <!--      &lt;!&ndash;                    <div&ndash;&gt;-->
    <!--      &lt;!&ndash;                            class="border border-blue-100 flex justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"&ndash;&gt;-->
    <!--      &lt;!&ndash;                    >&ndash;&gt;-->
    <!--      &lt;!&ndash;                        <span><fa-icon [icon]="faAt" class="text-gray-300"></fa-icon></span>&ndash;&gt;-->
    <!--      &lt;!&ndash;                        <input class="border-none  text-xs md:text-sm focus-within:border-none focus-within:ring-0 w-full"&ndash;&gt;-->
    <!--      &lt;!&ndash;                               formControlName="gender"&ndash;&gt;-->
    <!--      &lt;!&ndash;                               id="gender"&ndash;&gt;-->
    <!--      &lt;!&ndash;                               placeholder=""&ndash;&gt;-->
    <!--      &lt;!&ndash;                               type="text"/>&ndash;&gt;-->
    <!--      &lt;!&ndash;                    </div>&ndash;&gt;-->
    <!--      &lt;!&ndash;                </section>&ndash;&gt;-->
    <!--      &lt;!&ndash;                <section class="">&ndash;&gt;-->
    <!--      &lt;!&ndash;                    <label for="Phone">Telephone No </label>&ndash;&gt;-->
    <!--      &lt;!&ndash;                    <div&ndash;&gt;-->
    <!--      &lt;!&ndash;                            class="border border-blue-100 flex justify-between items-center form-input my-1 px-2 py-2 focus-within:ring-0 rounded-lg  w-full"&ndash;&gt;-->
    <!--      &lt;!&ndash;                    >&ndash;&gt;-->
    <!--      &lt;!&ndash;                        <span><fa-icon [icon]="faAt" class="text-gray-300"></fa-icon></span>&ndash;&gt;-->
    <!--      &lt;!&ndash;                        <input class="border-none  text-xs md:text-sm focus-within:border-none focus-within:ring-0 w-full"&ndash;&gt;-->
    <!--      &lt;!&ndash;                               formControlName="phone"&ndash;&gt;-->
    <!--      &lt;!&ndash;                               id="Phone"&ndash;&gt;-->
    <!--      &lt;!&ndash;                               placeholder=""&ndash;&gt;-->
    <!--      &lt;!&ndash;                               type="number"/>&ndash;&gt;-->
    <!--      &lt;!&ndash;                    </div>&ndash;&gt;-->
    <!--      &lt;!&ndash;                </section>&ndash;&gt;-->
    <!--      <div class="mt-2">-->
    <!--        <button class="p-4 w-full rounded-2xl bg-green-500 text-white">Update</button>-->
    <!--      </div>-->
    <!--    </form>-->
  </app-modals>
</section>
