<section class="flex md:flex-row w-full container-text flex-col items-center gap-2 min-h-screen">
  <section *ngIf="currentUser$|async as currentUser"
           class=" skin  p-6 border w-full  lg:w-1/3 rounded-xl">
    <div class="py-3">
      <img alt="" class="border rounded-full mx-0 w-32 object-cover h-32" height="820"
           src="{{currentUser.imgUrl}}" width="900">
    </div>
    <section class="flex flex-col gap-4">
      <p class=" lg:text-lg">Personal Details</p>
      <span class="text-xs">
        <i class="fa-solid fa-user"></i>  {{currentUser.name}}
        </span>
      <span class="text-xs">
        <i class="fa-solid  fa-at"></i>    {{currentUser.email}}
        </span>
      <span class="text-xs">
           <span><i class="fa-solid fa-building-columns"></i></span>
        {{currentUser.accountNumber}}

        <app-clipboard [style]="'text-green-500 text-xs'" [textToCopy]="currentUser.accountNumber"></app-clipboard>
        </span>
      <hr>

      <!--      <span class="flex items-center justify-center gap-3">-->
      <!--            <span>Account Number:</span>-->

      <!--            <span class="font-bold">-->
      <!--           {{currentUser.accountNumber}}-->
      <!--        </span>-->
      <!--          </span>-->

      <div>
        <button (click)="toggleModal()"
                class="rounded-3xl bg-primary  text-white border p-3 w-1/2">Edit Profile
        </button>
      </div>
    </section>
  </section>
  <section class="flex flex-col w-full lg:w-2/3 gap-7">


    <section class="bg-white p-6 flex flex-col gap-4  w-full rounded-xl ">
      <section class="flex justify-end">
        <app-stepper [step]="profileService.step"
                     class="w-1/2"></app-stepper>

      </section>


      <section *ngIf="(profileService.step| async) === 0" class="flex flex-col gap-5">


        <h2 class="text-lg">Account Information</h2>
        <form (ngSubmit)="handlePersonalFormUpdate(profileForm.value)" [formGroup]="profileForm"
              class="flex flex-col gap-3"
        >

          <div class="py-3 relative w-32 ">

            <img *ngIf="!previewUrl" alt="" class="  border rounded-full mx-auto w-32 object-cover  h-32" height="820"
                 ngSrc='{{data.imgUrl}}' width="900">

            <img *ngIf="previewUrl" alt="" class="  border rounded-full mx-auto w-32 object-cover  h-32" height="820"
                 src='{{previewUrl}}' width="900">

            <!--            <i class="fa-solid absolute top-2 left-[100px] fa-arrow-up-from-bracket"></i>-->
            <!--            <fa-icon [icon]="faUserEdit" class="text-gray-300 absolute top-2 left-[102px]"></fa-icon>-->

            <label for="photo">
              <i
                class="fa-solid absolute cursor-pointer bg-white text-green-900 border border-gray-200 rounded-full p-2 top-2 left-[90px] fa-arrow-up-from-bracket"></i>

              <!--              <fa-icon [icon]="faUserEdit" class="text-gray-300 absolute cursor-pointer top-2 left-[102px]"></fa-icon>-->
            </label>


            <input (change)="onFileSelected($event)"
                   accept="image/*"
                   class="input-style hidden"
                   formControlName="photo"
                   id="photo"
                   name="photo"
                   type="file"
            />
          </div>

          <text-input [formControl]="name"
                      [label]="'Name'"
                      [placeholder]="data?.name">

          </text-input>


          <email-input
            [formControl]="email"
            [label]="'Email'"
            [type]="'email'"
          >

          </email-input>

          <select-input
            [bindLabel]="'name'"
            [bindValue]="'id'"
            [formControl]="role"
            [items]="options"
            [label]="'Role'"
            [multiple]="true"
            [placeholder]="'Select options'"
            class="ring-0">

          </select-input>


          <div class="mt-2 flex justify-end ">
            <app-button [btnText]="'Next'" [loading]="loading" [styles]="'btn-primary  rounded-3xl'"
                        class="w-1/2  md:w-1/3 ">
            </app-button>

          </div>
        </form>
      </section>


      <section *ngIf="(profileService.step| async) ===1 " class="flex flex-col gap-5">
        <h2 class="text-lg">Change Password</h2>

        <form (ngSubmit)="handlePasswordUpdate(passwordForm.value)" [formGroup]="passwordForm"
              class="flex flex-col gap-3">


          <password-input
            [formControl]="currentPassword"
            [label]="'Current Password'"
            [type]="'password'"
          ></password-input>


          <password-input
            [formControl]="newPassword"
            [label]="'New Password'"
            [type]="'password'"
          ></password-input>

          <password-input
            [formControl]="confirmPassword"
            [label]="'Confirm Password'"
            [type]="'password'"
          ></password-input>


          <div class="mt-2 flex gap-5 justify-end   ">
            <app-button (click)="handleBack()" [btnText]="'Back'" [styles]="'btn-primary  rounded-3xl'"
                        class="w-1/2  md:w-1/3 ">
            </app-button>
            <app-button [btnText]="'Update'" [disabled]="passwordForm.invalid" [loading]="loading"
                        [styles]="'btn-primary  rounded-3xl'"
                        class="w-1/2  md:w-1/3 ">
            </app-button>

          </div>
        </form>

      </section>


      <section *ngIf="(profileService.step| async) ===2 " class="  text-center flex-col gap-5">
        <svg aria-hidden="true" class=" text-center animate-pops h-auto w-4/6 text-gray-500  dark:text-primary"
             fill="currentColor"
             viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path>
          <path clip-rule="evenodd"
                d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm9.707 5.707a1 1 0 00-1.414-1.414L9 12.586l-1.293-1.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                fill-rule="evenodd"></path>
        </svg>
        <div class="mt-2 flex justify-end   ">
          <app-button (click)="handleBack()" [btnText]="'Finish'" [styles]="'btn-primary  rounded-3xl'"
                      class="w-1/2  md:w-1/3 ">
          </app-button>


        </div>
      </section>


    </section>
  </section>
  <app-modals [size]="'w-1/2'">

  </app-modals>
</section>
