<section class="relative"
>
  <ng-container>
    <app-label [label]="label" [required]="hasRequiredValidator()"></app-label>
  </ng-container>

  <dp-date-picker [config]="config" [displayDate]="config.max"
                  [formControl]="formControl"
                  [placeholder]="'Select Date'"
                  [theme]="'dp-material'"
  ></dp-date-picker>

  <i (click)="openCalendar()" [ngClass]="formControl.disabled ? 'cursor-not-allowed': ''"
     class="fa-solid  absolute top-9 right-4 text-gray-600 fa-calendar-days"></i>

</section>


