<section class="relative"
>
  <ng-container>
    <app-label [label]="label" [required]="hasRequiredValidator()"></app-label>
  </ng-container>

  <dp-date-picker [config]="config" [displayDate]="config.max? config.max : date"
                  [formControl]="formControl"
                  [placeholder]="'Select Date'"
                  [theme]="'dp-material'"
                  class=""
  ></dp-date-picker>

  <i (click)="openCalendar()"
     [ngClass]="formControl.disabled ? 'top-10 cursor-not-allowed': 'hover:bg-gray-200 top-8 cursor-pointer rounded-full p-2'"
     class="fa-solid  absolute  right-4 text-gray-600 fa-calendar-days"></i>

</section>


