<section class="flex ">

  <section (clickOutside)="clickedOutside()">
    <button (click)="handleToggle()" aria-controls="default-sidebar"
            class="inline-flex  absolute sidebar z-50 p-2 mt-2 md:mt-3 ml-3 text-sm text-gray-500 rounded-lg lg:hidden hover:bg-inherit focus:outline-none focus:ring-2 focus:ring-transparent dark:text-gray-400 dark:hover:bg-inherit dark:focus:ring-transparent"
            data-drawer-target="default-sidebar"
            data-drawer-toggle="default-sidebar"
            type="button">
      <span class="sr-only">Open sidebar</span>
      <svg aria-hidden="true" class="w-4 h-4 lg:w-6 fixed  lg:h-6" fill="currentColor" viewBox="0 0 20 20"
           xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd"
              d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"
              fill-rule="evenodd"></path>
      </svg>
    </button>
  </section>

  <aside [ngClass]="isOpen ? '' : '-translate-x-full'" aria-label="Sidebar"
         class="fixed top-0   left-0 z-50 w-64 h-screen md:h-fit lg:h-screen transition-transform  lg:translate-x-0"
         id="default-sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto   skin dark:bg-primary">
      <ul class="space-y-2 font-medium">
        <li>
          <a [routerLink]='["/"]'
             class="flex items-center p-2 text-gray-900 rounded-lg dark:text-secondary  hover:bg-primary hover:text-secondary hover:rounded-lg  dark:hover:bg-gray-700"
          >

          <img src="../../assets/images/home.svg" alt="dashboard">
          
            <span class="ml-3">Home</span>
          </a>
        </li>
        <li>
          <a [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/dashboard']"
             class="flex items-center p-2 text-primary rounded-lg dark:text-secondary  hover:bg-primary hover:text-secondary hover:rounded-lg  dark:hover:bg-gray-700"
             routerLinkActive="bg-primary dark:glass text-secondary rounded-lg ">

<img src="../../assets/images/overview.svg" alt="dashboard">
         
            <span class="flex-1 ml-3 whitespace-nowrap">Overview</span>
            <ng-container *ngIf="(currentUser$|async) as currentUser">
              <img *ngIf="currentUser.role ==='user'"
                   class="inline-flex items-center justify-center"
                   width="25" height="25" ngSrc="assets/images/userbadge.svg" alt="badge">
              <img *ngIf="currentUser.role ==='admin'"
                   class="inline-flex items-center justify-center"
                   width="25" height="25" ngSrc="assets/images/adminbadge.svg" alt="badge">
            </ng-container>

          </a>
        </li>
        <li>
          <a [routerLinkActiveOptions]="{exact:true}" [routerLink]="['profile']"
             class="flex items-center p-2 text-gray-900 rounded-lg dark:text-secondary hover:rounded-lg hover:bg-primary hover:text-secondary dark:hover:bg-gray-700"
             routerLinkActive="bg-primary dark:glass text-secondary rounded-lg "
          >
        


           <ng-container *ngIf="(currentUser$|async)as currentUser">
            <img *ngIf="currentUser.role ==='user'" src="../../assets/images/userprofile.svg" alt="userprofile">
            <img *ngIf="currentUser.role ==='admin'" src="../../assets/images/adminprofile.svg" alt="adminprofile">
          </ng-container>
            <span class="flex-1 ml-3 whitespace-nowrap">Profile</span>

          </a>
        </li>
        <li>
          <a [routerLinkActiveOptions]="{exact:true}" [routerLink]="['loans']"
             class="flex items-center p-2 text-gray-900 rounded-lg dark:text-secondary hover:bg-primary hover:text-secondary hover:rounded-lg  dark:hover:bg-gray-700"
             routerLinkActive="bg-primary dark:glass text-secondary rounded-lg "
          >
           
            <img src="../../assets/images/loans.svg" alt="loans">

            <span class="flex-1 ml-3 whitespace-nowrap">Loan Management</span>
            <!--            <span-->
            <!--              class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>-->
          </a>
        </li>
        <li *ngIf="(currentUser$|async).role ==='admin'">
          <a [routerLinkActiveOptions]="{exact:true}" [routerLink]="['users']"
             class="flex items-center  p-2 text-gray-900 rounded-lg dark:text-secondary hover:bg-primary hover:text-secondary hover:rounded-lg dark:hover:bg-gray-700"
             routerLinkActive="bg-primary dark:glass text-secondary rounded-lg "
          >
         

            <img src="../../assets/images/users.svg" alt="users">
            <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
          </a>
        </li>
        <li>
          <a [routerLinkActiveOptions]="{exact:true}" [routerLink]="['transactions']"
             class="flex items-center p-2 text-gray-900 rounded-lg dark:text-secondary  hover:bg-primary hover:text-secondary hover:rounded-lg  dark:hover:bg-gray-700"
             routerLinkActive="bg-primary dark:glass text-secondary rounded-lg"
          >


            <img src="../../assets/images/transaction.svg" alt="transaction">

            <span class="flex-1 ml-3 whitespace-nowrap">Transactions</span>
          </a>
        </li>
        <li>
          <a [routerLinkActiveOptions]="{exact:true}" [routerLink]="['payments']"
             class="flex items-center p-2 text-gray-900 rounded-lg dark:text-secondary  hover:bg-primary hover:text-secondary hover:rounded-lg dark:hover:rounded-lg dark:hover:bg-gray-700"
             routerLinkActive="bg-primary dark:glass text-secondary rounded-lg "
          >
<img src="../../assets/images/payment.svg" alt="payment">
            <span class="flex-1 ml-3 whitespace-nowrap">Payment</span>
          </a>
        </li>

      </ul>
    </div>
  </aside>


  <div class="flex  flex-col overflow-hidden w-full lg:w-4/5  lg:ml-72">
    <section class="mt-24  sm:mt-36  lg:mt-28 min-h-screen px-2  sm:px-4 md:container-text">
      <router-outlet></router-outlet>

    </section>
  </div>
</section>

