<!--<div class="btn-group" dropdown>-->
<!--  <button aria-controls="dropdown-animated" class="btn btn-primary dropdown-toggle" dropdownToggle id="button-animated"-->
<!--          type="button">-->
<!--    Button dropdown <span class="caret"></span>-->
<!--  </button>-->
<!--  <ul *dropdownMenu aria-labelledby="button-animated" class="dropdown-menu"-->
<!--      id="dropdown-animated" role="menu">-->
<!--    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>-->
<!--    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>-->
<!--    </li>-->
<!--    <li role="menuitem"><a class="dropdown-item" href="#">Something else-->
<!--      here</a></li>-->
<!--  </ul>-->
<!--</div>-->

<!--<app-dropdown></app-dropdown>-->
<!--<app-dropdown>-->
<!--  <div class="menu-item">News</div>-->
<!--  <div class="menu-item">Contacts</div>-->
<!--  <div class="menu-item">About</div>-->
<!--</app-dropdown>-->

<!--<app-dropdown>-->
<!--  <div class="menu-item">Fresh</div>-->
<!--  <div class="menu-item">Get</div>-->
<!--  <div class="menu-item">Me</div>-->
<!--</app-dropdown>-->


<!--<div class="flex flex-wrap">-->
<!--  <div class="w-full sm:w-6/12 md:w-4/12 px-4">-->
<!--    <div class="relative inline-flex align-middle w-full">-->
<!--      <button-->
<!--        #btnDropdownRef-->
<!--        (click)="toggleDropdown($event)"-->
<!--        class="text-white font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150 bg-slate-700 active:bg-slate-800"-->
<!--        type="button"-->
<!--      >-->
<!--        White Dropdown-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div #popoverDropdownRef class="z-50" style="min-width: 12rem">-->
<!--  <div-->
<!--    [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"-->
<!--    class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1"-->
<!--    style="min-width: 12rem"-->
<!--  >-->
<!--    <a-->
<!--      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent  text-slate-700"-->
<!--      href="#pablo"-->
<!--    >-->
<!--      Action-->
<!--    </a>-->
<!--    <a-->
<!--      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent  text-slate-700"-->
<!--      href="#pablo"-->
<!--    >-->
<!--      Another action-->
<!--    </a>-->
<!--    <a-->
<!--      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent  text-slate-700"-->
<!--      href="#pablo"-->
<!--    >-->
<!--      Something else here-->
<!--    </a>-->
<!--    <div-->
<!--      class="h-0 my-2 border border-solid border-t-0 border-slate-800 opacity-25"-->
<!--    ></div>-->
<!--    <a-->
<!--      class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent  text-slate-700"-->
<!--      href="#pablo"-->
<!--    >-->
<!--      Seprated link-->
<!--    </a>-->
<!--  </div>-->
<!--</div>-->


<!-- dropdown.component.html -->


<!-- dropdown.component.html -->

<!--<div class="dropdown">-->
<!--  <button-->
<!--    (click)="toggleDropdown()"-->
<!--    [attr.aria-expanded]="isOpen ? 'true' : 'false'"-->
<!--    [class.show]="isOpen"-->
<!--    [popper]="dropdownMenu"-->
<!--    aria-haspopup="true"-->
<!--    class="btn btn-secondary dropdown-toggle"-->
<!--    popperPlacement="bottom-start"-->
<!--    popperTrigger="manual"-->
<!--    type="button"-->
<!--  >-->
<!--    {{ selectedOption }}-->
<!--  </button>-->
<!--  <div-->
<!--    #dropdownMenu-->
<!--    (keydown)="onKeyDown($event)"-->
<!--    [class.show]="isOpen"-->
<!--    class="dropdown-menu"-->
<!--  >-->
<!--    <button-->
<!--      (click)="selectOption(option)"-->
<!--      *ngFor="let option of options"-->
<!--      [class.active]="option === selectedOption"-->
<!--      class="dropdown-item"-->
<!--    >-->
<!--      {{ option }}-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->


<!--<div (keydown)="onKeyDown($event)" class="relative">-->
<!--  <button-->
<!--    (click)="togglesDropdown()"-->
<!--    [attr.aria-expanded]="isOpen ? 'true' : 'false'"-->
<!--    [attr.aria-haspopup]="true"-->
<!--    class="flex items-center justify-between px-4 py-2 bg-gray-200 text-gray-700 rounded-md focus:outline-none focus:shadow-outline"-->
<!--  >-->
<!--    <span>{{ selectedOption }}</span>-->
<!--    <svg-->
<!--      class="w-5 h-5 ml-2"-->
<!--      fill="currentColor"-->
<!--      viewBox="0 0 20 20"-->
<!--      xmlns="http://www.w3.org/2000/svg"-->
<!--    >-->
<!--      <path-->
<!--        d="M6 8l4 4 4-4H6z"-->
<!--        fill-rule="evenodd"-->
<!--      />-->
<!--    </svg>-->
<!--    Tests-->
<!--  </button>-->

<!--  <div-->
<!--    *ngIf="isOpen"-->
<!--    [attr.aria-hidden]="!isOpen"-->
<!--    [attr.aria-labelledby]="'dropdown-' + id"-->
<!--    [class.hidden]="!isOpen"-->
<!--    class="absolute z-10 mt-2 py-2 bg-white text-gray-700 rounded-md shadow-lg"-->
<!--  >-->
<!--    <button-->
<!--      (click)="selectOption(option)"-->
<!--      *ngFor="let option of options"-->
<!--      [attr.aria-selected]="option === selectedOption ? 'true' : 'false'"-->
<!--      [class.selected]="option === selectedOption"-->
<!--      class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none"-->
<!--    >-->
<!--      {{ option }}-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

<!--<app-table></app-table>-->

<!--<app-projections>-->


<!--  <ng-template #body class="border p-2 w-1/4">This is a demo for advanced angular project in a bit understanding complex-->
<!--    projection-->
<!--  </ng-template>-->


<!--  <projectionContent>-->


<!--    <p>I used a directive </p>-->

<!--  </projectionContent>-->
<!--</app-projections>-->
<app-table (onSelectAll)="handleAllSelection($event)" [columns]="tableColumns"
           [tableService]="service"

>


  <ng-template #headerActions class="border p-2 w-1/4">

    <button
      class="mt-4 sm:mt-0 border inline-flex items-start justify-start px-6 py-2 text-primary  focus:outline-none rounded"
    >
      Make Transfer
    </button>
  </ng-template>


  <!--  <ng-template #rowActions let-row="row">-->
  <!--    <button class='btn btn-icon icon-left'>-->
  <!--      Continue-->

  <!--    </button>-->
  <!--    <button class='btn btn-icon icon-left'>-->
  <!--      Remove-->

  <!--    </button>-->

  <!--  </ng-template>-->

  <ng-template #rowActions let-row="row">
    <button class='btn'>
      <i class="fa-solid fa-arrow-up-right-from-square"></i> View
    </button>
  </ng-template>
  <ng-template #customRows let-colProp='colProp' let-row="rowVal">
    <!--    Pulling out this context gives us the chance to render based on the defined column Name and the value coming from the backend-->
    <ng-container>
    <span *ngIf="row ==='Credit'"
          class=" py-1 px-4 bg-green-100 inline-block capitalize rounded">{{row}}</span>
      <span *ngIf="row ==='Debit'"
            class=" py-1 px-4 bg-red-100 inline-block capitalize rounded">{{row}}</span>
      <span *ngIf="colProp ==='initiatorAccountNumber'"
            class=" flex gap-2">{{row}}
        <app-clipboard [buttonText]="'Copy Text'" [style]="'text-green-400'" [textToCopy]="row"></app-clipboard>


      </span>
    </ng-container>
  </ng-template>
</app-table>
