<section class="container-text">
  <div *ngIf="(currentUser$|async) as currentUser"
       class=' my-2   lg:my-4 animate-slideOut'

  >
    <section class="flex-col flex xs:flex-row gap-10 md:gap-0 xs:justify-between">
      <div><p class='text-md dark:text-secondary text-primary flex gap-3 text-gray-800  md:text-xl'>
        Welcome Back,
        <span class='dark:text-secondary text-primary'>{{currentUser.name}} !</span>
      </p>

        <p class='text-sm flex gap-4 dark:text-secondary text-primary  md:text-md'>
          Account Number : {{currentUser.accountNumber}}
          <app-clipboard [style]="'text-green-400'" [textToCopy]=currentUser.accountNumber></app-clipboard>
        </p>
        <div class='flex text-sm lg:text-md mt-4 flex-col dark:text-secondary text-primary '>
          Current Balance
          <p class='text-sm dark:text-secondary text-primary '>As at {{globalizeDate}}</p>
        </div>
      </div>
      <app-summary-cards class="w-auto xs:w-1/2 md:w-1/3" [value]='balance$|async'></app-summary-cards>

    </section>

  </div>

  <section class="flex justify-end mb-10">


  </section>

  <app-table (onSelectAll)="handleAllSelection($event)" [columns]="tableColumns"
             [tableService]="service"

             [tableSettings]="tableConfig">

    <ng-template #headerActions class="border p-2 w-1/4">

      <button
      >
        Make Transfer
      </button>
    </ng-template>


    <ng-template #rowActions let-row="row">
      <button class='btn'>
        <i class="fa-solid py-3 fa-arrow-up-right-from-square"></i> View
      </button>
    </ng-template>
    <ng-template #customRows let-colProp='colProp' let-row="rowVal">
      <!--    Pulling out this context gives us the chance to render based on the defined column Name and the value coming from the backend-->
      <ng-container>
    <span *ngIf="row ==='Credit'"
          class=" py-1 px-4 bg-green-100 text-black  inline-block capitalize rounded-full">{{row}}</span>
        <span *ngIf="row ==='Debit'"
              class=" py-1 px-4 bg-red-200 inline-block capitalize rounded-full">{{row}}</span>
        <span *ngIf="colProp ==='initiatorAccountNumber'"
              class=" flex gap-2">{{row}}
          <app-clipboard [buttonText]="'Copy Text'" [style]="'text-green-400'" [textToCopy]="row"></app-clipboard>


      </span>
      </ng-container>
    </ng-template>
  </app-table>
</section>
