<app-table (onSelectAll)="handleAllSelection($event)" [columns]="tableColumns"
           [tableService]="service"

>


  <ng-template #headerActions class="border p-2 w-1/4">

    <button
      class="table-header-btn"
    >
      Make Transfer
    </button>
  </ng-template>


  <!--  <ng-template #rowActions let-row="row">-->
  <!--    <button class='btn btn-icon icon-left'>-->
  <!--      Continue-->

  <!--    </button>-->
  <!--    <button class='btn btn-icon icon-left'>-->
  <!--      Remove-->

  <!--    </button>-->

  <!--  </ng-template>-->

  <ng-template #rowActions let-row="row">
    <button class='btn'>
      <i class="fa-solid fa-arrow-up-right-from-square"></i> View
    </button>
  </ng-template>
  <ng-template #customRows let-colProp='colProp' let-row="rowVal">
    <!--    Pulling out this context gives us the chance to render based on the defined column Name and the value coming from the backend-->
    <ng-container>
    <span *ngIf="row ==='Credit'"
          class=" py-1 px-4 bg-green-100 inline-block capitalize rounded">{{row}}</span>
      <span *ngIf="row ==='Debit'"
            class=" py-1 px-4 bg-red-100 inline-block capitalize rounded">{{row}}</span>
      <span *ngIf="colProp ==='initiatorAccountNumber'"
            class=" flex gap-2">{{row}}
        <app-clipboard [buttonText]="'Copy Text'" [style]="'text-green-400'" [textToCopy]="row"></app-clipboard>


      </span>
    </ng-container>
  </ng-template>
</app-table>
