<form (ngSubmit)="handleUpdatePassword(updatePasswordForm.value)" [formGroup]="updatePasswordForm"
      class="w-full  flex flex-col justify-center gap-2 items-center ">
  <password-input [formControl]="currentPassword"
                  [label]="'Current Password'"
                  [type]="'password'"
                  class="w-5/6"
  ></password-input>
  <password-input
    [formControl]="password"
    [label]="'Password'"
    [type]="'password'"
    class="w-5/6"
  ></password-input>
  <password-input
    [formControl]="passwordConfirm"
    [label]="'Confirm Password'"
    [placeholder]="'confirm password'"
    [type]="'password'"

    class="w-5/6"
  ></password-input>


  <section class="w-5/6 mt-4">

    <app-button [btnText]="authservice?.isLoading? 'Processing...':'Update'"
                [disabled]="updatePasswordForm.invalid" [styles]="'btn-primary'"></app-button>
  </section>
  <p class="flex  gap-3 text-sm tex-gray-800">
    Need An Account
    <a [routerLink]="['/signup']" class="text-blue-600 text-sm">
      Sign up
    </a>
  </p>

</form>
