<section class="section-hero min-h-screen skin container-text flex items-center">
  <section class="text-gray-800 flex flex-col  gap-5">
    <p class='text-4xl lg:text-4xl  max-w-sm '>
      The Easiest Way
      To Manage Personal
      Finances
    </p>
    <p class='text leading-normal lg:max-w-xl   '>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
      enim ad minim veniam, quis nostrud exercitation ullamco laboris.
    </p>
    <button class='w-1/3 cap text-white bg-gray-800 px-2 py-4 rounded-full'>
      Explore
    </button>
  </section>


  <div
    class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[16px] rounded-t-xl h-[172px] max-w-[301px] md:h-[294px] md:max-w-[512px]">
    <div class="rounded-xl overflow-hidden h-[140px] md:h-[262px]">
      <img alt=""
           class="dark:hidden h-[140px] md:h-[262px] w-full rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/device-mockups/screen-image-imac.png">
      <img alt=""
           class="hidden dark:block h-[140px] md:h-[262px] w-full rounded-xl" src="https://flowbite.s3.amazonaws.com/docs/device-mockups/screen-image-imac-dark.png">
    </div>
  </div>
  <div
    class="relative mx-auto bg-gray-900 dark:bg-gray-700 rounded-b-xl h-[24px] max-w-[301px] md:h-[42px] md:max-w-[512px]"></div>
  <div class="relative mx-auto bg-gray-800 rounded-b-xl h-[55px] max-w-[83px] md:h-[95px] md:max-w-[142px]"></div>

  <!--  <button-->
  <!--    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"-->
  <!--    data-popover-target="popover-user-profile"-->
  <!--    type="button">-->
  <!--    User profile-->
  <!--  </button>-->
  <!--  <div-->
  <!--    class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:bg-gray-800 dark:border-gray-600"-->
  <!--    data-popover id="popover-user-profile"-->
  <!--    role="tooltip">-->
  <!--    <div class="p-3">-->
  <!--      <div class="flex items-center justify-between mb-2">-->
  <!--        <a href="#">-->
  <!--          <img alt="Jese Leos" class="w-10 h-10 rounded-full" src="/docs/images/people/profile-picture-1.jpg">-->
  <!--        </a>-->
  <!--        <div>-->
  <!--          <button-->
  <!--            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-xs px-3 py-1.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"-->
  <!--            type="button">-->
  <!--            Follow-->
  <!--          </button>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <p class="text-base font-semibold leading-none text-gray-900 dark:text-white">-->
  <!--        <a href="#">Jese Leos</a>-->
  <!--      </p>-->
  <!--      <p class="mb-3 text-sm font-normal">-->
  <!--        <a class="hover:underline" href="#">@jeseleos</a>-->
  <!--      </p>-->
  <!--      <p class="mb-4 text-sm">Open-source contributor. Building <a-->
  <!--        class="text-blue-600 dark:text-blue-500 hover:underline"-->
  <!--        href="#">flowbite.com</a>.-->
  <!--      </p>-->
  <!--      <ul class="flex text-sm">-->
  <!--        <li class="mr-2">-->
  <!--          <a class="hover:underline" href="#">-->
  <!--            <span class="font-semibold text-gray-900 dark:text-white">799</span>-->
  <!--            <span>Following</span>-->
  <!--          </a>-->
  <!--        </li>-->
  <!--        <li>-->
  <!--          <a class="hover:underline" href="#">-->
  <!--            <span class="font-semibold text-gray-900 dark:text-white">3,758</span>-->
  <!--            <span>Followers</span>-->
  <!--          </a>-->
  <!--        </li>-->
  <!--      </ul>-->
  <!--    </div>-->
  <!--    <div data-popper-arrow></div>-->
  <!--  </div>-->


</section>
