<section class="section-hero skin container-text flex items-center">
  <section class="text-gray-800 flex flex-col  gap-5">
    <p class='text-4xl lg:text-4xl  max-w-sm '>
      The Easiest Way
      To Manage Personal
      Finances
    </p>
    <p class='text leading-normal lg:max-w-xl   '>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
      enim ad minim veniam, quis nostrud exercitation ullamco laboris.
    </p>
    <button class='w-1/3 cap text-white bg-gray-800 px-2 py-4 rounded-full'>
      Explore
    </button>
  </section>


</section>
