<section class="flex flex-col gap-10">


  <section class="flex  gap-5">
    <div class="card bg-primary flex-1 flex gap-3">
      <section class="flex  flex-col mt-4 gap-8 ">
        <section
          class="  flex flex-col"
        >
          <!--    <p class= "italic text-xs "}> {{title}}</p>   -->
          <p class="italic text-xs "> Title</p>
          <p class="text-2xl"> 150</p>
        </section>
        <button class="p-2 w-full rounded-lg text-xs text-black bg-gray-100">
          View details
        </button>
      </section>

      <section
        class="  flex-1 rounded-lg bg-white skin   w-48 justify-center text-black flex gap-4"
      >
        <div class="flex flex-col text-xs text-center justify-around">
          <!--      <p>{{statusOne}}</p>-->
          <p>statusOne</p>

          <p class="font-bold text-xl">150</p>
        </div>

        <div class="flex text-xs flex-col justify-around">
          <!--      <p>{{statusTwo}}</p>-->
          <p>statusTwo</p>

          <p class="font-bold text-xl">250</p>
        </div>
      </section>
    </div>
    <div class="card glass flex-1 flex gap-3">
      <section class="flex  flex-col mt-4 gap-8 ">
        <section
          class="text-black  flex flex-col"
        >
          <!--    <p class= "italic text-xs "}> {{title}}</p>   -->
          <p class="italic text-xs "> Title</p>
          <p class="text-2xl"> 150</p>
        </section>
        <button class="p-2 w-full rounded-lg text-xs text-black bg-gray-100">

          View details
        </button>
      </section>

      <section
        class="  flex-1 rounded-lg bg-blue-100 w-48 justify-center text-black flex gap-4"
      >
        <div class="flex flex-col text-xs text-center justify-around">
          <!--      <p>{{statusOne}}</p>-->
          <p>statusOne</p>

          <p class="font-bold text-xl">150</p>
        </div>

        <div class="flex text-xs flex-col justify-around">
          <!--      <p>{{statusTwo}}</p>-->
          <p>statusTwo</p>

          <p class="font-bold text-xl">250</p>
        </div>
      </section>
    </div>
    <div class="card glass flex-1 flex gap-3">
      <section class="flex  flex-col mt-4 gap-8 ">
        <section
          class=" text-black  flex flex-col"
        >
          <!--    <p class= "italic text-xs "}> {{title}}</p>   -->
          <p class="italic text-xs "> Title</p>
          <p class="text-2xl"> 150</p>
        </section>
        <button class="p-2 w-full rounded-lg text-xs text-black bg-gray-100">

          View details
        </button>
      </section>

      <section
        class="  flex-1 rounded-lg bg-[#f48220] w-48 justify-center text-black flex gap-4"
      >
        <div class="flex flex-col text-xs text-center justify-around">
          <!--      <p>{{statusOne}}</p>-->
          <p>statusOne</p>

          <p class="font-bold text-xl">150</p>
        </div>

        <div class="flex text-xs flex-col justify-around">
          <!--      <p>{{statusTwo}}</p>-->
          <p>statusTwo</p>

          <p class="font-bold text-xl">250</p>
        </div>
      </section>
    </div>

  </section>


  <section class="flex gap-5">

    <section class="w-4/6 flex items-center justify-center bg-primary ">
      <p class="text-white">Chart goes Here</p>

    </section>

    <section class="bg-white  w-2/6 flex flex-col gap-8  rounded-lg p-4">
      <div class="flex justify-between">
        <p>Summary</p>
        <section class="flex flex-col gap-5 justify-end">
          <select class="bg-gray-100 border-none rounded text-xs py-2 px-5">
            <option>Transactions</option>
          </select>

          <select class="wheat-light text-xs border-none  py-2 px-5 ml-6 rounded p-2">
            <option>Daily</option>
          </select>
        </section>
      </div>

      <div class="w-[150px] h-[150px] mx-auto">

        <!--      <CircularProgressbarWithChildren-->
        <!--        value={66}-->
        <!--        strokeWidth={10}-->
        <!--        styles={buildStyles({-->
        <!--      // Rotation of path and trail, in number of turns (0-1)-->
        <!--      rotation: 1,-->

        <!--      // Whether to use rounded or flat corners on the ends - can use 'butt' or 'round'-->
        <!--      strokeLinecap: "round",-->

        <!--      // Text size-->
        <!--      // textSize: "14px",-->

        <!--      // How long animation takes to go from one percentage to another, in seconds-->
        <!--      pathTransitionDuration: 0.5,-->

        <!--      // Can specify path transition in more detail, or remove it entirely-->
        <!--      // pathTransition: 'none',-->

        <!--      // Colors-->

        <!--      pathColor: "rgb(31, 41, 55)",-->
        <!--      textColor: "black",-->
        <!--      trailColor: "gainsboro",-->
        <!--      backgroundColor: "white",-->
        <!--      })}-->
        <!--      >-->


        <!--      <div style={{ fontSize: 18, fontWeight: 300 }}>Total</div>-->
        <!--      <div style={{ fontSize: 18, fontWeight: 800, marginTop: 3 }}>-->
        <!--        8000-->
        <!--      </div>-->
        <!--      </CircularProgressbarWithChildren>-->
      </div>
      <section class="bg-gray-100 rounded-lg p-6 space-y-12">
        <div class="text-xs">
          <p>Credit Transactions</p>
          <p class="text-green-500 font-bold">121</p>
        </div>

        <div class="text-xs">
          <p>Debit Transactions</p>

          <p class="text-red-600 font-bold">886</p>
        </div>
      </section>
    </section>
  </section>
</section>
